[2018-01-23 05:29] bddppq commented on #401
Fixed in #423 by @LucasMahieu

[2018-01-23 05:29] #401 closed

[2018-01-23 05:31] #418 closed

[2018-01-23 05:31] bddppq commented on #404
@prasanthpul @linkerzhang Could you guys take a look?

[2018-01-23 17:34] #424 closed

[2018-01-23 20:24] lupesko opened #444 "Proposal: Patch Release 1.0.1"
# This is a proposal and RFC for a new release for ONNX.

- Release Version: 1.0.1
- Release Type: Patch Release (backwards compatible bug fixes only)
(following Semantic Versioning as defined in [semver.org](https://semver.org/))
- Release Manager: @lupesko
- Release Checklist:
  - [ ] Create a new branch from v1.0, named v1.0.1
  - [ ] Cherry pick the approved commits
  - [ ] Ensure all tests ar

[2018-01-23 20:38] lupesko commented on #444
Thanks @bddppq for adding Conda 🙏🏼

[2018-01-23 23:42] tianleiwu commented on #426
I am adding tests for some logical and math operators:
 - Equal, Greater, Less
 - Ceil, Div, Floor, LeakyRelu, Mul, Neg, Reciprocal, Selu, Sqrt, Sub

[2018-01-23 23:48] houseroad opened #450 "[PR 400 Follow Up] Polish NodeKind (op_type) in IR"
Match the op_type in ONNX.

[2018-01-24 00:06] prasanthpul commented on #404
Are you able to use Python 3.x successfully? Any reason to stay with 2.7?

[2018-01-24 00:07] houseroad opened #451 "[PR 400 Follow Up] Expose an API for User Defined Optimization Pass"
Discussion is welcome.

[2018-01-24 03:09] microyea opened #453 "Why there is two similar op defined in ONNX: MatMul and GEMM"
I think GEMM should be enough, GEMM is more general tham MatMul

[2018-01-24 06:35] houseroad opened #454 "[PR 400 Follow Up] Use AttributeType Instead of AttributeKind"
So we don't need maintain the mapping between them.

[2018-01-24 06:43] houseroad opened #455 "[PR 400 Follow Up] Tune the IR API"
Further discussion is needed.

[2018-01-24 06:43] ebarsoum commented on #453
MatMul is more flexible and match numpy semantic, GEMM map 1:1 to BLAS.

[2018-01-24 06:53] houseroad opened #456 "[PR 400 Follow Up] Add More Test Cases for Optimizer"
Now we manually test it. More cases should be added.

[2018-01-24 08:27] LucasMahieu commented on #453
Can someone take a look to https://github.com/onnx/onnx/issues/405

[2018-01-24 08:28] LucasMahieu commented on #416
https://github.com/onnx/onnx/pull/423
Can be closed

[2018-01-24 08:28] #416 closed

[2018-01-24 16:29] Ganesh3456 commented on #358
Hi

[2018-01-24 18:44] prasanthpul commented on #405
@bddppq are you familiar with this model?

[2018-01-24 20:52] lupesko commented on #432
Fixed by #430

[2018-01-24 20:52] #432 closed

[2018-01-24 21:48] houseroad opened #461 "Mark the IR/Optimizer as experimental"
Although it is landed, we still need more polish on the IR designs.
Mark IR and optimizer related files/functions as ''experimental''.

[2018-01-25 01:09] houseroad opened #463 "AlmostEqual or Extend Equal Operator"
Looks like most framework support Equal on floating tensors...
ONNX may support this with different op (AlmostEqual) or by adding an optional attribute.

I personally prefer the latter.

[2018-01-25 01:40] houseroad commented on #341
I think the problems are already fixed by the above PRs.

[2018-01-25 01:40] #341 closed

[2018-01-25 02:05] tianleiwu commented on #463
If we need another operator like numpy.isclose, I think it is better to be a different op.

[2018-01-25 03:08] StupidTAO opened #465 "source install fails when environment variable ONNX_ML=1 for onnx-ml is not set"
I work in ubuntu 64bit, but I don't know how to set environment just like the introduce
"You can then install ONNX from PyPi (Note: Set environment variable ONNX_ML=1 for onnx-ml):
pip install onnx"

the result is : "Failed building wheel for onnx"

[2018-01-25 03:30] bddppq commented on #465
It means if you wanna install onnx-ml, then do
`ONNX_ML=1 pip install onnx`,
or if you wanna install core onnx, then do
`pip install onnx`.

Could you post some more log generated during installation?

[2018-01-25 03:52] StupidTAO commented on #465
ubuntu@VM-0-14-ubuntu:~$ pip install onnx
Collecting onnx
  Using cached onnx-1.0.0.tar.gz
Requirement already satisfied: six in ./anaconda2/lib/python2.7/site-packages (from onnx)
Collecting protobuf (from onnx)
  Using cached protobuf-3.5.1-cp27-cp27mu-manylinux1_x86_64.whl
Requirement already satisfied: numpy in ./anaconda2/lib/python2.7/site-packages (from onnx)
Requirement already satisfied:

[2018-01-25 04:43] bddppq commented on #465
I'm not familiar with conda, looks like you should create a conda virtualenv?
@ezyang

[2018-01-25 05:30] houseroad commented on #461
Addressed in https://github.com/onnx/onnx/pull/467

[2018-01-25 07:27] kevin645 commented on #426
Working on ArgMax, and ArgMin. Will try to complete the list as I understand the source.

I was reading through the source of the backend stub that is test_backend_test.py, It's only checking the proto format. How can I setup the full ONNX reference implementation for the Ops? Do I need to set it up with a supported backend? (caffe2/pytorch)

[2018-01-25 17:48] houseroad commented on #426
@kevin645 Thanks a lot! I marked ArgMax and ArgMin as you picked them up. After you finish the case test, you can run [cmd_tools.py](https://github.com/onnx/onnx/blob/master/onnx/backend/test/cmd_tools.py) to generate the data for backend test. The test data will generated in [onnx/backend/test/data](https://github.com/onnx/onnx/tree/master/onnx/backend/test/data) folder. test_backend_test.py only

[2018-01-25 17:55] houseroad commented on #461
The PR is merged.

[2018-01-25 17:55] #461 closed

[2018-01-25 22:28] houseroad opened #471 "Introduce Opaque/Customized Operator"
ONNX cannot cover all types of operators. But if users still want to represent their models using onnx, we probably should allow them to do so.

The proposal is adding experimental `opaque`/`customized` operators. So backend support is optional, and users can still represent their models in ONNX format, do the things they want, such as applying optimization.

[2018-01-25 23:54] lupesko opened #474 "Proposal: make master a protected branch"
Proposing to configure master as a Protected Branch.

Protected branches are used to disable force pushing, prevent branches from being deleted, and optionally require status checks before merging.
Here's [more](https://help.github.com/articles/defining-the-mergeability-of-pull-requests/).

Votes / Comments?

[2018-01-26 00:07] prasanthpul commented on #474
we should.
we should also cleanup abandoned branches - ideally, only have master and release branches

[2018-01-26 00:45] dzhulgakov commented on #474
Yep, feel free to go ahead with it. Also we should encourage folks to properly fork instead of creating branches in onnx/onnx itself.

[2018-01-26 00:46] lupesko commented on #444
1.0.1 patch release draft is out:
https://github.com/onnx/onnx/releases/tag/untagged-e72ba16f78bee7779041

pytest results identical to 1.0 release (2 tests failing)
I will run a few more tests and plan to publish tomorrow Jan 26 1pm PT - unless there's report of issues.

[2018-01-26 00:47] bddppq commented on #474
Regarding to development branches in this main repo, why does it matter?

[2018-01-26 01:16] tianleiwu opened #477 "pad/matmul/slice Test regression"
When I run "backend-test-tools generate-data", the following files are modified:
        modified:   onnx/backend/test/data/node/test_edge_pad/node.pb
        modified:   onnx/backend/test/data/node/test_constant_pad/node.pb
        modified:   onnx/backend/test/data/node/test_matmul_2d/output_0.pb
        modified:   onnx/backend/test/data/node/test_reflect_pad/node.pb
        modified:   onnx/ba

[2018-01-26 01:27] linkerzhang commented on #426
Cast Reshape Concat Split Transpose will be covered, @houseroad please mark them to avoid duplication.

[2018-01-26 01:40] houseroad commented on #477
Could you post the content of two NodeProtos here?

[2018-01-26 01:54] tianleiwu commented on #477
For example, onnx\onnx\backend\test\data\node\test_edge_pad\node.pb

(Old test data) use command "more node.pb":
xy"Pad*
pads@
@
@@@
@
@@ *
mode"edge 

(New test data)
xy"Pad*
mode"edge *
pads@
@
@@@
@
@@ 

[2018-01-26 01:57] houseroad commented on #477
Could you load the pb into memory, and print them in text mode, instead of binary mode? My eyes are not able to read ;-)

[2018-01-26 02:08] tianleiwu commented on #477
You might notice that position of the highlighted part is changed (moved from end to the middle):

(old data)
xy"Pad*
pads@ @ @@@ @ @@ *
**mode"edge **

(new data)
xy"Pad*
**mode"edge ***
pads@ @ @@@ @ @@ 

[2018-01-26 02:19] lupesko commented on #444
Tested with a clean ubuntu docker container - pip install now works even without git!
(but does require the protobuf dependencies apt-get separately)

[2018-01-26 02:27] jesterhazy opened #478 "version number in master should be > than release branches"
if you clone onnx:master and pip install from source, then pip install any python package that depends on onnx, pip will replace installed version of onnx with (older) release version.

version number in master should be > release version to avoid this (perhaps with .devN label)

[2018-01-26 03:24] bddppq commented on #477
I believe it's the order of "**kwargs" in the `make_node` function is not deterministic. #479 should fix it

[2018-01-26 03:29] linkerzhang commented on #474
+1 on using fork as dev branch.

[2018-01-26 03:29] linkerzhang commented on #444
Looks good to me. :-)

[2018-01-26 03:36] bddppq commented on #444
@lupesko Which 2 tests are failing?

[2018-01-26 03:44] lupesko commented on #444
@bddppq
OnnxBackendModelTest.test_densenet121_cpu
OnnxBackendModelTest.test_densenet121_cuda
it can't find the model files.

[2018-01-26 03:48] bddppq commented on #444
@lupesko Doesn't look right to me. Where did your test run? All of the onnx CI are able to download and find the densenet model file :-)

[2018-01-26 03:53] lupesko commented on #444
@bddppq I simply followed the instructions [here](https://github.com/onnx/onnx#testing).
Is there a step missing? how are test models being pulled?

[2018-01-26 03:56] bddppq commented on #444
@lupesko Ok there is cache mechanism (CI wipes out the workspace every time so it doesn't have this concern). I guess you probably failed to download the models previously. Simply delete `~/.onnx/models` in your environment and run the tests again, it should re-download the models.

[2018-01-26 05:51] #477 closed

[2018-01-26 07:00] lupesko commented on #444
@bddppq wiping off the cache solved the issue. Shall we add a note about that in the readme? others may have faced the same issue.

[2018-01-26 07:07] linkerzhang opened #481 "Add function support in onnx"
Proposal as below, feel free to share your comments please. Thank you very much! @dzhulgakov @yuanbyu @ezyang @bddppq @ebarsoum @gramalingam

You may refer to the whole proto file https://github.com/linkerzhang/onnx/blob/kezhan/add_function_to_onnx/onnx/onnx.in.proto.

[code]

[2018-01-26 07:59] lupesko commented on #474
Done - configured as protected branch.
LMK if there's any issues with the setup.
Closing.

[2018-01-26 07:59] #474 closed

[2018-01-26 17:38] bddppq commented on #478
I think pip install be default won't overwrite your previous installation, unless you add `-U` flag, which indicates you wanna update. This means we just need to keep the master version equal to the release version (It's should be always the case since merge release branches should be merged back to master The current situation that master version `<` released version should be a mistake in last r

[2018-01-26 19:00] linkerzhang commented on #481
Function, as a subgraph (template), should be used in subgraph ops, say, loop (we're defining it).
Function should also be used to resolve the problem that "Graph" is being an attribute type.

[2018-01-26 19:05] jesterhazy commented on #478
👍

[2018-01-26 19:05] #478 closed

[2018-01-26 19:30] bddppq commented on #444
@lupesko Makes senses, go for it

[2018-01-26 22:14] lupesko commented on #444
Thanks @bddppq for publishing onnx-1.0.1 to the pypi test instance at: https://test.pypi.org/simple/
Tested on a clean Ubuntu container and it looks good.
Publishing.

[2018-01-26 22:15] lupesko commented on #444
Release published: https://github.com/onnx/onnx/releases/tag/v1.0.1
@bddppq can you please publish the PyPi and Conda and update the issue when done? Thanks!

[2018-01-26 22:43] #444 closed

[2018-01-26 22:47] bddppq commented on #444
@lupesko conda one is coming https://github.com/conda-forge/onnx-feedstock/pull/2

[2018-01-27 04:12] ayush1999 opened #486 "Reading onnx models."
As I noticed, onnx models have a `model.pb` file and a few zip files. Suppose I want to read and load an onnx model, how should I process the `model.pb` file to generate the data structure using `protoc`, given that there is no `.proto` file? Basically, what should be my steps from reading a `.pb` file to generating the data structures?

PS: I know what onnx models can directly be loaded from othe

[2018-01-27 05:29] ezyang commented on #471
@houseroad, isn't this what operators with non-default domain do?

[2018-01-27 07:49] hyer opened #488 "onnx-caffe2 is slower?"
I try to run this tutorial:[Example: End-to-end AlexNet from PyTorch to Caffe2]( http://pytorch.org/docs/master/onnx.html)
However, I found the reference speed of onnx-caffe2 is 10x slower than the origin pytorch model.
Anyone help? Thanks.

My Machine:

- Ubuntu 14.04
- CUDA 8.0
- cudnn 7.0.3
- Caffe2 latest
- Pytorch 0.3.0

[2018-01-27 16:23] ezyang commented on #465
What are the permissions on  '/home/ubuntu/anaconda2/lib/python2.7/site-packages/protobuf-3.5.1-py2.7-nspkg.pth'? It sounds like you don't have write access when you should (maybe you accidentally ran pip as root some time in the past?)

[2018-01-27 20:28] kaishijeng opened #489 "running error on an arm processor"
I build onnx on firefly3399 which has arm a72 processor. However I got the following error when running python2 -c "import onnx"

/usr/local/lib/python2.7/dist-packages/onnx-0.2.1-py2.7-linux-aarch64.egg/onnx/onnx_cpp2py_export.so: undefined symbol: _ZNK6google8protobuf7Message13SpaceUsedLongEv

Any idea why this happens?
Thanks,

[2018-01-27 22:02] jamesr66a commented on #488
Hi @hyer,

Could you set the net type for the generated `rep.predict_net` to equal `prof_dag`? This will instrument the execution of the caffe2 with timers and print out information on destruction of the net. Please post the results of this profiling and we can dig deeper

[2018-01-28 07:49] StupidTAO commented on #465
I execute the command "sudo chmod -R 777 /home/ubuntu/anaconda2", cause this error
![log](https://user-images.githubusercontent.com/13427682/35480119-be995a72-0442-11e8-9478-016197efca4b.jpg)

[2018-01-28 08:53] StupidTAO commented on #465
I execute the command 'sudo chmod -R 777 '/home/ubuntu/anaconda2' and try 'pip install onnx' again,the result is
![log](https://user-images.githubusercontent.com/13427682/35480546-56d8453e-044b-11e8-81c8-e04d5574287f.jpg)
Is there something wrong with the code?

[2018-01-28 09:51] StupidTAO commented on #465
Thank you vrey much, the problem is caused by not enough memery compile onnx.Creating a 512MB swap-file solved the problem.The steps to create a swap-file can see here :
http://blog.csdn.net/little_stupid_child/article/details/79188015

[2018-01-29 03:49] hyer commented on #488
@jamesr66a I'm new to onnx, so I have no idea to "set the net type for the generated rep.predict_net to equal prof_dag". Would you please point out how to set it. thanks! Here is my code:
[code]

BTW, the program output:
[code]
"exit code 139"? Is there any other problem?

[2018-01-29 17:31] bddppq commented on #488
@hyer Insert `rep.predict_net.type = 'prof_dag'` after `rep = backend.prepare(model, device="CUDA:0") # or "CPU"`

[2018-01-29 17:37] bddppq commented on #489
It might be your protobuf library was compiled with cxx11 abi while your compiler defaults to build with the old one. Please do `nm -C $PATH_TO_LIBPROTOBUF | grep google::protobuf::Message::SpaceUsedLong` and see whether there is a `[abi:cxx11]` tag in the output.

[2018-01-29 17:39] bddppq commented on #486
@ayush1999 You need the [onnx.proto](https://github.com/onnx/onnx/blob/34ac327093f1a80f3bbbab35f7c73bb09864ba76/onnx/onnx.proto) file to deserialize the `.pb` file.

[2018-01-29 17:41] bddppq commented on #465
@StupidTAO Is your problem solved? If so please kindly close this issue.

[2018-01-29 17:42] ayush1999 commented on #486
@bddppq I found the onnx.proto file in the onnx folder. Then, I generated the Julia data structure using the ProtoBuf.jl Julia package. However , I can't figure out how to deserialize the model.pb file. Can you tell me how this can be done?

[2018-01-29 17:58] bddppq commented on #486
@ayush1999 Sorry I'm not familiar with Julia :-).

Here is how we do it in Python: https://github.com/onnx/onnx/blob/34ac327093f1a80f3bbbab35f7c73bb09864ba76/onnx/__init__.py#L34

The Protobuf.jl package repo has some docs, especially the `Using ProtoBuf` section in [this one](https://github.com/JuliaIO/ProtoBuf.jl/blob/master/USAGE.md) should be able to help.

[2018-01-30 01:57] hyer commented on #488
@bddppq After I insert the  `rep.predict_net.type = 'prof_dag'`, I got error:
[code]

[2018-01-30 20:55] jamesr66a commented on #488
Hi @hyer, did you bild caffe2 from source? If so, can you set the USE_PROF option for the CMake build to ON? https://github.com/caffe2/caffe2/commit/a40bc312d37a70f704441dac32da6d8eb201c207

Should be as simple as assing `-DUSE_PROF=ON` to your cmake command when  you build caffe2. This will hopefully recompile caffe2 with the profiling net type

[2018-01-30 22:27] jamesr66a opened #492 "TopK Operator"
Caffe2: https://caffe2.ai/docs/operators-catalogue.html#topk
Pytorch: http://pytorch.org/docs/master/torch.html#torch.topk

I need this for beam search; it's likely also generally useful

[2018-01-30 22:36] linkerzhang opened #493 "[PR400 Follow UP] API refined to avoid data copies when loading a model for optimization or execution"

[2018-01-30 22:36] jamesr66a opened #494 "ExpandDims/Unsqueeze operator"
Caffe2: https://caffe2.ai/docs/operators-catalogue.html#expanddims
Pytorch: http://pytorch.org/docs/master/torch.html#torch.unsqueeze

We have a corresponding Squeeze operator, but we don't have Unsqueeze. These operators are useful when you need to manipulate dimensions without having knowledge of the actual existing dimensions (e.g. dynamic batch size). Needed in my case for beam search

[2018-01-30 22:39] jamesr66a opened #495 "Size Operator"
Caffe2: https://caffe2.ai/docs/operators-catalogue.html#size
Pytorch: http://pytorch.org/docs/master/tensors.html#torch.Tensor.size

This is useful if we need to dynamically allocate tensors with shapes derived from the shapes of other tensors, such as in beam search

[2018-01-30 22:57] linkerzhang commented on #481
You may notice that two more fields are added in AttributeProto to cover the case that an attribute is referring to a function attribute declaration (the data stored in parent node's AttributeProto actually).
 optional bool is_ref = 21;          // if it's true, it means it's referring parent node's (referring to a function) attribute value.
  optional string ref_attr_name = 22; // if is_ref is tr

[2018-01-30 23:16] jamesr66a commented on #481
Hi @linkerzhang, could you elaborate on what problem you're solving with this proposal, and what an example use case is?

[2018-01-30 23:19] jamesr66a commented on #495
Note: introducing this would introduce the concept of dynamic shapes and likely break static shape inference

[2018-01-30 23:23] houseroad commented on #493
@linkerzhang Could you leave more description in this issue?

[2018-01-31 04:28] #494 closed

[2018-01-31 21:10] ebarsoumMS commented on #481
@jamesr66a here some of the issue that this proposal solve:
1. HW acceleration, can map a single function to a HW implementation. This help us to design clean ONNX instead of fuse OPs manually.
2. Concise ONNX model.
3. Flexible RNN using Loop + Function (for RNN Cell).

[2018-02-01 00:01] houseroad commented on #471
@ezyang I agree non-default domain can achieve the goal, but it requires the user to define their own op set. is it too much work just for some blackbox operator?

[2018-02-01 00:04] houseroad commented on #493
I think https://github.com/onnx/onnx/pull/491 should partially address this issue.

[2018-02-01 01:51] gramalingam commented on #481
Expanding on Emad's response above:

Ideally, it would be nice if RNN, LSTM, GRU can all be expressed as instances of the same loop/recurrence with a different body/cell: say, as Recurrence<RNN-Cell>, Recurrence<LSTM-Cell>, and Recurrence<GRU-Cell>(where Recurrence could be a Loop or a more specialized operator).

Each of RNN-Cell, LSTM-Cell, and GRU-Cell can, in turn, be defined in terms of more

[2018-02-01 04:09] ezyang commented on #471
I don't see why it is all that much work, you just pick a new name out of your operator namespace and just use it.

Perhaps the missing piece is that the validator needs to ignore operators that it doesn't understand. It seems useful, in this case, to have a "strict" and "relaxed" mode for the validator.

[2018-02-01 04:37] dzhulgakov commented on #495
Introducing this directly won't break shape inference, will it? The output length would be just a rank of input. But adding dynamic allocation would break it certainly. What's the exact situation when it happens?

[2018-02-01 04:48] jamesr66a commented on #495
@dzhulgakov This and following uses https://github.com/caffe2/caffe2/blob/master/caffe2/contrib/script/examples/example_beam_search.c2s#L13

[2018-02-01 20:05] jamesr66a commented on #481
I agree that we should have some sort of abstraction to allow for common re-use of, for example, cells. But this proposal seems to also be trying to serve double-duty as replacing--for control flow ops--the graph body *itself* with the Function abstraction. If I understand correctly, this proposal provides no provision for accessing implicitly live values in an enclosing scope.  Note the below:

`

[2018-02-02 00:41] gramalingam commented on #481
I was just presenting the motivation for functions.

Whether the loop-body should be a graph or a function or either is an orthogonal design decision. Having a graph or a function is roughly equivalent (semantically), and I am fine with using graphs to represent a loop-body.

[2018-02-02 04:33] #465 closed

[2018-02-02 21:20] jamesr66a opened #501 "[Strategy] NLP strategy"
Hi folks,

We've released a wiki page about our general strategy for NLP in ONNX: https://github.com/onnx/onnx/wiki/NLP-in-ONNX:-A-Strategy-Proposal

This issue is a place to foster discussion about the strategy

[2018-02-02 21:32] jamesr66a opened #502 "[PR436 Follow Up] Formalize Control Flow Ops and Move Out of Experimental"
Checking this in as experimental: https://github.com/onnx/onnx/pull/436

Once we've built out implementations up and down the translation stack we can finalize the ops and make them non-experimental

[2018-02-03 00:52] YZHANGFPE opened #503 "Unsupported type of tensor: float Error from operator:"
I encountered this error when I converted the pytorch model to caffe2. I am attaching the python notebook output.

[code]

[code]

    Sequential(
      (0): LambdaMap2(
        (0): Sequential(
          (0): Sequential(
            (0): Lambda(
            )
            (1): Embedding(10, 5, padding_idx=0)
          )
          (1): ReLU()
        )
        (1): Sequential(
          (0): Sequen

[2018-02-03 03:31] Kindpire opened #504 "PROTOBUF_LIBDIR in setup.py"
110 libs.append(os.path.join(os.getenv('PROTOBUF_LIBDIR'), "libprotobuf")) should be protobuf?
e.g. if we set PROTOBUF_LIBDIR to be /usr/local/lib, it would yield a warning:
**no library file corresponding to '/usr/local/lib/libprotobuf' found (skipping)**
after change to protobuf, everything works fine.

[2018-02-03 05:51] newstzpz opened #505 "Error when converting CondensenNet from PyTorch to Caffe2 using ONNX"
I am trying to convert a CondenseNet from PyTorch to caffe2 using ONNX, but I got the following error when I called the torch.onnx._export()

The condensenet implementation is based on the code [here](https://github.com/ShichenLiu/CondenseNet). Some more related output:

Any suggestions? Thanks!

[2018-02-05 11:44] nihui commented on #5
https://github.com/Tencent/ncnn/issues/214
;)

[2018-02-05 21:33] gramalingam commented on #502
Since PR 436 has been merged, let me continue the discussion here.

Is the goal to allow LoopIndexTensor as a generic operator (a special case of Gather), or to constraint its use where the index is allowed to be only the iteration variable?

In the latter case, I think that the best strategy is to use a scan/fold/reduce/map like operator: in this case, the operator will specify which axis of whic

[2018-02-05 21:48] gramalingam commented on #502
There is one possible minor issue/problem with the way the loop-body-graph's output is used to specify the "scan-outputs" ... what happens if the same tensor T is both a loop-carried-dependence and a tensor to be included in the scan-output? Is the "output" list for a graph allowed to have duplicate names?

[2018-02-06 07:24] houseroad commented on #505
Looks like, in this case, we need Scatter, @dzhulgakov, @ebarsoum, shall we introduce it as an experimental operator?

[2018-02-06 09:34] zhangguangzhi opened #510 "Direct installation on ubuntu 14.04 failed"
According to the README, I executed the following command
`sudo apt-get install protobuf-compiler libprotoc-dev
sudo pip install onnx`
But returned error，installation failed
Command output：

`The directory '/home/bainuo/.cache/pip/http' or its parent directory is not owned by the current user and the cache has been disabled. Please check the permissions and owner of that directory. If executing pi

[2018-02-06 09:35] zhangguangzhi commented on #510
@bddppq

[2018-02-06 09:40] bddppq commented on #510
@zhangguangzhi Looks like it's `protoc` version being too old. Could you do `protoc --version`?

[2018-02-06 09:42] zhangguangzhi commented on #510
@bddppq  the protoc version is 2.5.0，What version do I need?

[2018-02-06 09:43] bddppq commented on #510
@zhangguangzhi `>=2.6.1`

[2018-02-06 10:30] zhangguangzhi commented on #510
Thank you very much, the installation is complete.

[2018-02-06 10:52] RanACohen commented on #501
In your article it seems like you move between High Level primitives (LSTM, GRU) and low level control flow.
I propose in the middle to define as a Tensor-Iterator layer which can execute a sub-network in an iterative fashion a good trade-off between high enough to be optimized and yet low enough to reflect any recurrent pattern?

(If I am not mistaken caffe2 has this as a RecurrentNetwork layer)

[2018-02-06 14:57] MrGeva opened #511 "Determine if a NodeProto.input is a constant or a graph input"
Is there a way to determine if a NodeProto input is a constant (e.g. weights, biases) or a graph input (e.g. image)?
It seems that in both cases they may appear in the model in GraphProto.input and in GraphProto.initializer, so I can't distinguish between them.

[2018-02-06 17:32] bddppq commented on #511
initializers are all weights. GraphProto.input includes both weights and graph input, so it’s a super set of initilaizers. Technically initializers are list of TensorProto (which has the values), while GraphProto.input is a list of ValueInfoProto, which only has the type & shape information.

[2018-02-06 17:32] #510 closed

[2018-02-06 18:26] gramalingam commented on #501
Yes, that's worth considering: see [https://github.com/onnx/onnx/issues/502](https://github.com/onnx/onnx/issues/502) for a related discussion

[2018-02-06 19:12] MrGeva commented on #511
The documentation in onnx.proto is somewhat misleading because the comment above GraphProto.initializer implies inputs to the graph can be initialized with default values:

  // values for some of the inputs of the graph...
  repeated TensorProto initializer = 5;

[2018-02-06 20:09] isaacmg commented on #359
I'm interested in this as well as I would like to directly integrate a trained pytorch into a production Java application.

[2018-02-06 21:20] bddppq commented on #359
Might be related: @EmergentOrder is creating a java binding to onnx https://github.com/onnx/onnx/pull/499

[2018-02-06 21:31] linkerzhang commented on #438
After double looking into the current tensor class, I personally think that it's not needed as it's exactly duplicating the TensorProto data structure. It's not the tensor class that will be used in layers above, say, shape inference, runtime, etc. I'd suggest 1) remove this tensor class and use TensorProto for IR (initializers specifically), 2) introduce dlpack tensor (if all partners agree on it

[2018-02-06 23:04] houseroad opened #515 "CI for Mac platform"
To prevent building issues. @prasanthpul @dzhulgakov @bddppq

[2018-02-07 02:19] zhangguangzhi opened #517 "ImportError"
I have installed onnx
but when I execute 'python -c "import onnx"', I get the following error

bainuo@bainuo-SYS-7048GR-TR:~/protobuf-3.5.1$ python -c "import onnx"
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/onnx/__init__.py", line 10, in <module>
    import onnx.helper  # noqa
  File "/usr/local/lib/python2.7/dist-packa

[2018-02-07 02:20] zhangguangzhi commented on #517
@bddppq

[2018-02-07 03:06] zhangguangzhi commented on #517
I remove libprotobuf-dev without this error

[2018-02-07 03:10] #517 closed

[2018-02-07 03:12] zhangguangzhi opened #518 "torch.onnx"
When I execute ‘python -c" import torch.onnx "‘

`bainuo@bainuo-SYS-7048GR-TR:~$ python -c "import torch.onnx"

Traceback (most recent call last):
  File "<string>", line 1, in <module>
ImportError: No module named onnx`

What should I do

[2018-02-07 03:12] zhangguangzhi commented on #518
@bddppq

[2018-02-07 03:58] zhangguangzhi commented on #518
Already solved, the original need pytorch0.3

[2018-02-07 03:58] #518 closed

[2018-02-07 06:25] newstzpz commented on #505
In addition to Scatter, maybe Broadcast and Gather will also be needed, they are all used in condensenet.

[2018-02-07 06:28] houseroad commented on #505
@newstzpz we have Gather in ONNX. Expand op is also a candidate to introduce.

[2018-02-08 17:50] bddppq commented on #488
@hyer Have you had a chance to run it as prof_dag graph?

[2018-02-08 19:52] anirudhacharya opened #523 "Onnx 'helper' and 'checker' attribute are not defined"
I have onnx 0.2.1 installed on my conda virtual environment
[code]

But I am not able to use the onnx.checker or onnx.helper attributes. When I try to use them I get the following error -
[code]
Get the same error when I try to use onnx.helper. What am I doing wrong here?

[2018-02-08 21:38] bddppq commented on #523
IIRC this is a bug in the old version, please upgrade to onnx >= 1.0.0

[2018-02-09 22:17] #523 closed

[2018-02-11 09:59] hyer commented on #488
@jamesr66a @bddppq  Sorry to reply you so late! I will try your advise. BTW, did you have try to run the tutorial http://pytorch.org/docs/master/onnx.html? What about the result? I will post the result of "USE_PROF option" later. Thx!

[2018-02-12 03:40] linkerzhang commented on #481
Following the new process, I'm adding a wiki https://github.com/onnx/onnx/wiki/Proposal----Adding-Function-into-ONNX for discussion please.

[2018-02-12 15:45] RanACohen commented on #502
In many LSTM & RNN cases you need to keep an internal state between iterations.
This must be visible to this LoopIndexTensor as it needs to rotate the internal state per iteration.

Caffe2 has a similar layer (I think RNN is its type name) which does this.

[2018-02-12 22:37] ArchRobison opened #531 "Gemm documentation wording is confusing"
https://github.com/onnx/onnx/blob/master/docs/Operators.md#Gemm says:

    If A can be transposed before doing the computation if attribute transA is non-zero, same for B and transB.

The "if A can be" wording is confusing.  Should it say `A is transposed`?

[2018-02-13 18:15] ArchRobison commented on #502
Can the control-flow ops be used recursively?  E.g., if graph G contains an If, can the then_branch be G?

[2018-02-13 23:13] dzhulgakov commented on #515
Travis supports Mac, so it should be easy to enable it. Any takers?

[2018-02-14 01:30] dzhulgakov commented on #495
Also we should have `Shape` operator (@Maratyszcza needs it). Any takers to write it up?

[2018-02-16 00:18] houseroad commented on #531
@ArchRobison if transA is set, A will be transposed before the computation. If you can create a PR to fix the ambiguous description, it will be great! Thanks.

[2018-02-16 17:57] bddppq commented on #492
https://github.com/onnx/onnx/commit/efc64f1b90b8f4dac4c8c7e657893ea2fa2ab8e2

[2018-02-16 17:57] #492 closed

[2018-02-16 23:58] dzhulgakov opened #535 "Simple optimization pass: fuse Conv+Add into Conv with Bias"
Conv in onnx spec supports embedded bias as it's often represented this way in accelerated backends: https://github.com/onnx/onnx/blob/master/docs/Operators.md#conv

However, some exporters produce separate Conv and Add operators. We should fuse them if bias is 1-d in this case and have it available as optimization pass (https://github.com/onnx/onnx/tree/master/onnx/optimizer/passes)

[2018-02-19 03:31] bddppq commented on #515
https://github.com/onnx/onnx/pull/536

[2018-02-19 05:04] bddppq commented on #426
Gather added in https://github.com/onnx/onnx/pull/537 thanks to @huitseeker

[2018-02-19 07:37] RanACohen commented on #502
namespace of 'value' nodes for sub-graphs should be local. No logic of allowing a sub-graph reference a node outside of it.

[2018-02-19 13:50] RanACohen commented on #251
@ezyang Do you propose (for the sake of one-way-of-doing-things) to omit the raw_data included in PB and stick only to external storage?

[2018-02-19 15:01] RanACohen commented on #481
@linkerzhang can you add a link from that Wiki to this discussion?

[2018-02-19 15:39] RanACohen commented on #481
I like the : [ref attribute change](https://github.com/linkerzhang/onnx/blob/kezhan/add_function/onnx/onnx.in.proto#L105)
But I do not understand the motivation of [adding function definition](https://github.com/linkerzhang/onnx/blob/kezhan/add_function/onnx/onnx.in.proto#L500).

This whole feature (which as HW Vendor rep I like) can be implemented using graph definition which already exists + the

[2018-02-20 18:21] yinghai commented on #504
Hmm, I see.

[2018-02-20 19:56] newstzpz commented on #505
@houseroad Is there any plan or ETA on supporting those operators (Scatter, Expand)?

[2018-02-20 22:43] #374 closed

[2018-02-21 02:29] spidyDev opened #544 "onnx maxpool padding interpretation"
I have an  onnx model with a Maxpool node  with padding value set as ,  pads: 0,0,1,2 for input  Tensor (NxCxWxH)
How do I interpret the padding?

Is the padding (0,1) applied to W and  (0,2) applied to H ?
Interpretation:
0 ,           0,             1,          2
start_W, start _H   end_W  end_H

[2018-02-21 05:21] bddppq commented on #544
onnx uses NCHW as the Tensor storage format, and `pads` format should be `[x1_begin, x2_begin...x1_end, x2_end,...]`, so in your case the interpretation should be:

`start_H = 0`
`start_W = 0`
`end_H = 1`
`end_W = 2`

[2018-02-21 09:47] nihui commented on #5
status update
https://github.com/Tencent/ncnn/tree/master/tools/onnx

what have done
parse onnx graph topology
export ncnn graph topology
dump model weights

todo
convert more op
resolve potential compability issues
test squeezenet
test some other models ...

[2018-02-21 15:10] spidyDev commented on #544
@bddppq  Thanks.

For non image format : (N x C x D1 x D2 ... Dn)    and pads = [x1_begin, x2_begin...x1_end, x2_end,...]
[code]
Is this correct ?

[2018-02-21 17:39] #495 closed

[2018-02-22 07:43] fumihwh opened #546 "Is pow's test case wrong?"
https://github.com/onnx/onnx/blob/6270bb68c54647f6c9ca56d640a73fe2dec2ad80/onnx/backend/test/case/node/pow.py#L49-L60

The case above seems wrong.
As [docs](https://github.com/onnx/onnx/blob/master/docs/Operators.md#pow) says,
[code]

So in this case, shape of `x` is (2, 3), `axis=0`, then shape of `y` should be in `((2,), (2,3))`.
But shape of `y = np.array([2, 3, 4]).astype(np.float32)` is (3,).

[2018-02-22 17:43] houseroad commented on #546
@fumihwh yes, you are right. Good catch! Please create a PR to fix this, thanks!

[2018-02-22 18:52] spidyDev opened #549 "ONNX doesn't have "pooling_convention" attribute for pooling(Max/Avg)"
For Pooling:
**pytorch** has " ceil_mode"  to specify which value(ceil/floor) to use while calculating output shape.
http://pytorch.org/docs/master/nn.html#maxpool2d

Similarly, **MXNET** has "pooling_convention" for using ceil or floor for  output shape from maxpool.
https://mxnet.incubator.apache.org/api/python/symbol.html#mxnet.symbol.Pooling

But in **ONNX** pooling , there is  no attribute to

[2018-02-22 18:55] houseroad commented on #549
@Yangqing @dzhulgakov @prasanthpul @ebarsoum

[2018-02-22 21:49] bddppq commented on #549
@spidyDev In ONNX it's floor. Since ONNX is meant to be an IR, frontend frameworks can adjust the pads before exporting to ONNX.

[2018-02-22 22:08] spidyDev commented on #549
@bddppq  Thanks for clarification.
Is this mentioned in the ONNX documentation? Could you please point me to it ?
If not, It would be great to have it  for future references.

[2018-02-22 22:14] bddppq commented on #549
@spidyDev I don't think it's explicitly mentioned in the doc (mainly because I thought floor is the default setting and so without explicitly mentioning everyone will assume it) Would you mind help creating a PR to polish our doc? :-)

[2018-02-23 00:55] ebarsoum commented on #549
@bddppq should we add this attribute?

[2018-02-23 16:24] TMVector opened #553 "Ambiguities in specification for `Conv`"
It is not clear that these axes don't include input/output channels. Some libraries such as TensorFlow _do_ represent strides in a 4-long list, so I think making this explicit would be good. Also relevant for `pads` and `strides`.

And:

Similar issue: I have always thought of convolutional filters as 4D, but from looking at the [tests](https://github.com/onnx/onnx/blob/master/onnx/backend/test/ca

[2018-02-23 16:39] TMVector opened #554 "Convention for Conv group"
I think the specification should make it explicit that the filter is of size `(M, C/group, kH, kW)`, as that seems to be the convention (no tests so going by onnx-caffe2/caffe2).

Aside from being clearer, TensorFlow seems to store filters for `Conv2D` in `[kH, kW, C, M]` order, but `DepthwiseConv2dNative` in `[kH, kW, C, 1]`, implying that `M=1`, when in ONNX it would be `C=1`. (`C` being input c

[2018-02-23 18:21] houseroad commented on #546
Fixed in https://github.com/onnx/onnx/pull/548. Thanks!

[2018-02-23 18:21] #546 closed

[2018-02-23 18:46] dzhulgakov commented on #549
How common is this attribute in practice? For fixed input sizes (which is usually the case with image models) exporting from framework can convert the sizes to be appropriate with floor.

[2018-02-23 19:01] lcskrishna commented on #358
Hello everyone,
Is there any workaround for this issue?
I had a similar issue while running onnx-caffe2 example given [here](https://github.com/onnx/tutorials/blob/master/tutorials/OnnxCaffe2Import.ipynb)

I installed both onnx and caffe2 using conda.

Any help would be appreciated.
Thanks.

[2018-02-27 11:56] jendrikjoe commented on #417
Hi @ebarsoum,
it is needed for some people working with neural networks that down- and later upsample data, e.g. segmentation networks :)

[2018-02-27 12:09] fumihwh commented on #417
@ebarsoum It's something like [`tf.nn.max_pool_with_argmax`](https://www.tensorflow.org/api_docs/python/tf/nn/max_pool_with_argmax).

[2018-02-27 21:50] raymondxyang opened #560 "Bad installation experience on Windows devices without Conda"
The installation experience on windows devices without conda from `pip install onnx` may need improvement on handling the dependency on protobuf package:

1. The PyPi source of the python module depends on protoc executable, headers and libs. The [README.md](https://github.com/onnx/onnx/blob/master/README.md) may needs some additional info on properly setting the `PROTOBUF_INCDIR` and `PROTOBUF_LI

[2018-02-27 22:09] houseroad commented on #544
Yes, you are right, no padding on N and C dimensions

[2018-02-27 22:16] spidyDev commented on #544
Thanks

[2018-02-27 22:16] #544 closed

[2018-02-28 02:28] nihui opened #562 "some questions about AveragePool pads behavior"
hello
I've recently tried to implement the onnx backend for ncnn, and encountered some problems about the pooling pads behavior.
I originally think it is the same as convolution, which takes the padding values and padding area.

example follows
kernel_shape 3x3
pads 0,0,1,1

Input 2x2
[code]

In convolution, it will be padded with zeros
[code]
[code]

----
I wonder how the padding actually works i

[2018-02-28 12:26] fumihwh commented on #562
In your case, pads should be [0, 1, 0, 1]
[code]
https://github.com/onnx/onnx/blob/master/docs/Operators.md#attributes-4

[2018-02-28 12:42] fumihwh commented on #562
`Is the padding area taken into account in average calculation?`
No. `5      (2+4+6+8) / 4` is correct.

I think ` input 2x2 with pads 0,0,1,1 and kernel_shape 4x4` will cause error at backend.

[2018-02-28 19:05] spidyDev opened #565 "pytorch converted "MaxPool" padding value looks incorrect"
What value does ONNX expects MaxPool operator to use for padding input tensor?

I am trying to use backend onnx model
https://github.com/onnx/onnx/tree/master/onnx/backend/test/data/model/pytorch-converted/test_MaxPool2d

output_0.pb  seems to be generated using "edge" value as padding to input_0.pb .
By "edge"  I meant using values on the edge of the ndarray to do the padding instead of "zeros"

[2018-02-28 23:37] jamesr66a opened #568 "Unique Op"
We've had requests for a Unique operator. Examples:

Numpy https://docs.scipy.org/doc/numpy/reference/generated/numpy.unique.html
Tensorflow https://www.tensorflow.org/api_docs/python/tf/unique
Caffe2 https://caffe2.ai/docs/operators-catalogue.html#unique
Pytorch (implementation in progress) https://github.com/pytorch/pytorch/issues/2031

[2018-03-01 05:00] anirudhacharya opened #571 "New Release for Onnx"
Can we have a new release for Onnx repo. I see that since the [v1.0.1](https://github.com/onnx/onnx/releases/tag/v1.0.1) release there has been no new release, while there has been considerable progress in support for new operators and their corresponding tests.

[2018-03-01 17:39] houseroad commented on #142
Already covered.

[2018-03-01 17:39] #142 closed

[2018-03-01 17:41] houseroad commented on #120
Now we use conda-forge channel.

[2018-03-01 17:41] #120 closed

[2018-03-01 17:44] houseroad commented on #18
Already fixed with onnx optimizer

[2018-03-01 17:45] #18 closed

[2018-03-02 03:04] fumihwh opened #576 "pytorch converted AvgPool test case with wrong pads size"
@houseroad
https://github.com/onnx/onnx/tree/master/onnx/backend/test/data/model/pytorch-converted/test_AvgPool3d
pads in graph is [0, 0, 0] not [0, 0, 0, 0, 0, 0]. For 3d input, pads size should be 6.

I have not checked similar cases (other AvgPool3d and MaxPool3d). Please take a look.

[2018-03-02 21:59] harrysummer opened #578 "pytest get FileNotFoundError errors"
I newly cloned onnx and tried to build and test on my Windows 10 PC. The building steps have all passed. However, when I run pytest, the following errors occurred:

[code]

It seems that the new version has changed the extension of ONNX model from .pb to .onnx.

Shall we update the tests accordingly?

[2018-03-02 22:25] harrysummer commented on #578
I didn't git pull the latest version. #541  as fixed this issue.

[2018-03-02 22:25] #578 closed

[2018-03-03 06:59] #562 closed

[2018-03-04 19:30] terrytangyuan commented on #426
@houseroad I am putting together an R package for ONNX [here](https://github.com/terrytangyuan/onnx-r). Would you like the ownership get transferred to ONNX Github organization? It would help with the exposure of the package later on.

[2018-03-05 01:15] terrytangyuan opened #581 "[DISCUSSION] ONNX R Binding"
Hi ONNX developers,

I put together an R package for ONNX on top of ONNX Python API. The repo is currently located [here](https://github.com/terrytangyuan/onnx-r). I had a comment in https://github.com/onnx/onnx/issues/426 but I feel like it's worth discussing in a separate issue here.

The R API is already usable but still needs some additional work on examples/documentations/testing, etc.  I won

[2018-03-05 07:32] dinglong1020 opened #582 "ImportError: No module named optimizer"
Problem:
         while running OnnxCaffe2Import.ipynb, there is import error
 environment:
         ubuntu 1604
         onnx (1.0.1)
         onnx-caffe2 (1.0.0)

WARNING:root:This caffe2 python run does not have GPU support. Will run in CPU only mode.
WARNING:root:Debug message: No module named caffe2_pybind11_state_gpu

--------------------------------------------------------------------------

[2018-03-05 07:56] bddppq commented on #582
`onnx.optimizer` is a new module added recently and it's not included in any of previous releases. Please re-install onnx from our latest github master.

[2018-03-05 08:27] dinglong1020 commented on #582
Is not use commond "pip install onnx" to install latest version onnx, and the latest version of the github master's tag is as same as my installer. Please tell how to install onnx from lastest github master

[2018-03-05 09:55] bddppq commented on #582
We don't bump the version tag for each master commit.
Please do `pip install git+git://github.com/onnx/onnx.git@master` to directly install from github.

[2018-03-05 10:03] bddppq commented on #582
https://github.com/onnx/onnx/issues/571

[2018-03-05 15:51] nihui commented on #5
status update
squeezenet and inception_v1 model now can be converted properly  😆

[2018-03-05 23:34] houseroad commented on #581
@dzhulgakov @prasanthpul shall we adopt https://github.com/terrytangyuan/onnx-r in our onnx org?

Shall we keep the r wrappers in the onnx-r repo instead of merged into onnx major repo?

[2018-03-05 23:55] #133 closed

[2018-03-06 03:54] anirudhacharya commented on #426
Has the tests for the following operators - ReduceMax, ReduceMin, ReduceSum, Conv, Flatten,  been merged? If no one is doing ReduceMean and ReduceProd, I can take it up. Please confirm.

[2018-03-06 05:52] fumihwh opened #585 "Different behavior between python 3.6 and python 2.7 in `make_attribute`"
Assume I have an attribute like `pads=[1, 1, 1, 1]` passed to `helper.py` L151 `make_attribute`. https://github.com/onnx/onnx/blob/master/onnx/helper.py#L151

In L187 `attr.ints.extend(int(v) for v in value)`,
python 3.6 - will extend normally as int `attr.ints=[1, 1, 1, 1]`
python 2.7 - will extend as long `attr.ints=[1L, 1L, 1L, 1L]`

This different behavior will cause some problems when framewo

[2018-03-06 06:08] labsurde opened #586 "UnsatisfiableError during installation of onnx and caffe2"
I am trying to install onnx and try any converter tool such as caffe2 to onnx on a Ubuntu 16.04 box.

CASE 1) install onnx and then caffe2
So.. I installed onnx as mentioned in the onnx/README.md.
`$ conda install -c conda-forge onnx`

And then when I try to run caffe-to-onnx exporter,
I found that I needed caffe2 to download squeeznet.

So I installed caffe2 as follows (mentioned in caffe2 homepa

[2018-03-06 07:10] houseroad commented on #426
As far as I know, no one is working on ReduceMax, ReduceMin, ReduceSum, ReduceMean, ReduceProd yet. Feel free to take them. @anirudhacharya :-)

[2018-03-06 15:50] thiusl commented on #581
@terrytangyuan Wow been waiting for this! I just tried it and everything seems to be working already!  Thanks for your efforts! My $0.02:
* It might be good to move the package to here to have more visibility so more people from the community could contribute to it (it doesn't make sense for the package to be located under a personal account since it's totally community efforts).
* It's tightly-co

[2018-03-06 16:49] anirudhacharya commented on #426
@houseroad This comment - https://github.com/onnx/onnx/issues/426#issuecomment-359139085 says that someone is working on ReduceMax, ReduceMin and ReduceSum. And the checklist in the description section of this Issue has these three operators marked as done.

I will work on the ReduceProd and ReduceMean operator for now.

[2018-03-06 20:23] bddppq commented on #585
There is no `long` in python3, it has unified what `int` and `long` in python2 to `int`.
`int(v)` with `v=1` should not return `1L` in python2. Could you give a small code snippet to reproduce the error you have seen?

[2018-03-06 22:00] prasanthpul commented on #581
I think we can host it in under the ONNX GitHub in an onnx-r repo for now.  @terrytangyuan will you be maintaining it?

[2018-03-06 22:03] terrytangyuan commented on #581
@prasanthpul Yes, I’ll maintain it.

[2018-03-06 22:27] terrytangyuan commented on #581
@prasanthpul Could you grant me permission to ONNX Github so I can start the transfer process?

[2018-03-07 02:25] fumihwh commented on #585
@bddppq
![image](https://user-images.githubusercontent.com/6838753/37070326-370beb8a-21fa-11e8-8839-dfad4fa7e777.png)

[code]

[2018-03-07 02:45] prasanthpul commented on #581
@terrytangyuan I'm going to create a repo called onnx/r-bindings that you have permissions to. Sound good?

[2018-03-07 02:48] terrytangyuan commented on #581
@prasanthpul It might be better to add me to the org so I can just transfer the repo over (commit histories will be maintained and redirect from old location would also work). We can discuss the name later if needed.

[2018-03-07 03:42] terrytangyuan commented on #581
When I was trying to transfer the repo, I got message like "You don’t have the permission to create repositories on onnx". I believe I just need minimal access in the org. ["By default, all organization members can create repositories for the organization and transfer repositories into the organization."](https://help.github.com/articles/repository-permission-levels-for-an-organization/#creating-r

[2018-03-07 03:50] fumihwh commented on #581
@terrytangyuan Don't worry. I think they will create a onnx/onnx-r repository and give you permission to.

[2018-03-07 21:42] houseroad commented on #426
@anirudhacharya sounds good to me. Thanks!

[2018-03-07 23:35] houseroad opened #590 "Distinguish Weights and Inputs in Node tests"
In Node testcases there is no way to distinguish inputs and weights, and some backends need this information to run. Convert all Node tests to simple Model tests.

[2018-03-08 01:29] anirudhacharya opened #593 "Grepability of tests in Onnx Backend test framework"
Has the following test been misnamed -
https://github.com/onnx/onnx/blob/910db3bcd94e737fc0b497a1ac4b9f7028595a82/onnx/backend/test/case/node/slice.py#L84-L97
Shouldn't it be test_slice_default_axes instead of test_default_axes because if I do
[code]
the 'default_axes' test will not be included. Was this a mistake in
naming the test. I can raise a PR to fix this.

Also while including tests there

[2018-03-08 17:57] linkerzhang opened #595 "AllowConsumed and EnforceConsumed would not be part of op definition?"
AllowConsumed and EnforceConsumed are in the scope of implementation optimization. It would be better to have backend to decide how to handle it. Thoughts? @ezyang @dzhulgakov @ebarsoum @gramalingam

[2018-03-08 19:59] houseroad commented on #593
Good catch on the name. Fixed here: https://github.com/onnx/onnx/pull/596

For the second case, you can add '$' to your regex to make the condition more restrict.

[2018-03-08 23:00] anirudhacharya commented on #593
@houseroad  Thanks for the first fix.

The second one still does not work. If I use the following
[code]
It matches neither of the two test cases -
* test_squeeze
* test_squeezenet_cpu

[2018-03-09 00:34] gramalingam commented on #595
I agree. These should be removed from the operator registration mechanism since we are not talking about any specific implementation of an operator.

[2018-03-09 05:37] houseroad commented on #593
I guess you have two cases, test_squeeze_cpu and test_squeezenet_cpu, can you try:
[code]

[2018-03-09 06:23] anirudhacharya commented on #593
@houseroad Thanks, that works in the above case.

But I am still unclear about how the regex is working. For instance
Regex => "test_log_" matches the following two test cases -
* test_log_cpu
* test_log_example_cpu

Regex => "test_log_*" is matching the following (two + six) test cases -
* test_log_cpu
* test_log_example_cpu
* test_logsoftmax_axis_0_cpu
* test_logsoftmax_axis_1_cpu
* test_logsoft

[2018-03-09 06:27] houseroad commented on #593
_* matches any string which only contains "_", such as empty string, "_", "__", "___".

I guess what you want is test_log_.*

[2018-03-09 07:01] anirudhacharya commented on #593
Thank you.

[2018-03-09 07:01] #593 closed

[2018-03-09 07:02] sdews commented on #582
Please remember do 'pip uninstall onnx' and then do 'pip install git+git://github.com/onnx/onnx.git@master'.

[2018-03-09 07:03] sdews commented on #582
Please remember do `pip uninstall onnx` firstly and then do `pip install git+git://github.com/onnx/onnx.git@master`.

[2018-03-09 19:43] spidyDev opened #601 "ONNX build issue with python-3.5.2"
I am trying to compile ONNX from source, using below command line on conda env with python 3.5.2

MACOSX_DEPLOYMENT_TARGET=10.9 CC=clang CXX=clang++ sudo python setup.py install

I get error:

building 'onnx.onnx_cpp2py_export' extension
/usr/bin/clang -Wno-unused-result -Wsign-compare -Wunreachable-code -DNDEBUG -g -fwrapv -O3 -Wall -Wstrict-prototypes -I/Users/srajanku/anaconda2/envs/work-env-py

[2018-03-10 05:01] bddppq commented on #601
Looks like it's the python 3.5.2 in your conda environment doesn't support MACOSX_DEPLOYMENT_TARGET=10.9, should not be related to onnx. Maybe try `MACOSX_DEPLOYMENT_TARGET=10.7`?

[2018-03-10 05:02] bddppq commented on #582
@dinglong1020 have you had a chance to see whether directly installing from github solve your issue?

[2018-03-10 05:10] bddppq commented on #581
@terrytangyuan Sorry for late reply. I have just created the new repo here: https://github.com/onnx/r-bindings and added you as admin.

[2018-03-10 05:33] fumihwh opened #603 "Rsqrt op"
Could we add Rsqrt Op (Reciprocal of square root)?

tensorflow: https://www.tensorflow.org/api_docs/python/tf/rsqrt
pytorch: http://pytorch.org/docs/master/torch.html?highlight=rsqrt#torch.rsqrt
chainer: http://docs.chainer.org/en/stable/reference/generated/chainer.functions.rsqrt.html

[2018-03-10 07:57] spidyDev commented on #601
Tried with python 3.6 , seems to work. Thanks @bddppq

[2018-03-10 07:57] #601 closed

[2018-03-10 15:33] terrytangyuan commented on #581
Thanks! I've renamed it to be onnx-r (onnx-bindings sounds really weird and onnx-r is the one that makes sense to me) and moved everything over there. Closing this issue for now.

[2018-03-10 15:33] #581 closed

[2018-03-13 06:44] #565 closed

[2018-03-13 16:50] spidyDev commented on #576
@fumihwh @houseroad
All  AvgPool3d tests have same issue ( pad is (0,0,0) )
MaxPool3d pads are correct.

[2018-03-14 16:53] lupesko commented on #571
@anirudhacharya not objecting, but would be useful to list the operators and functionality added since 1.0.1

[2018-03-15 02:59] bddppq commented on #595
Removing these sounds reasonable to me

[2018-03-15 03:52] anirudhacharya commented on #571
I think the following is the change list.
@houseroad @bddppq Please  do let me know if I have missed any changes.

* Operators fixed and added - cast, reshape, Pool, Shape, Size, concat, Pow, Slice, TopK, structured, reducible control flow, Unsqueeze op
(PR #497) (PR #436) (PR #496) (PR #529) (PR #513) (PR #525) (PR #390) (PR #532) (PR #587) (PR #569) (PR #552)

* Test cases added and fixed - glob

[2018-03-15 12:33] alexionby commented on #586
Mb u can try this command:
`conda install -c ezyang onnx onnx-caffe2`
because it rly based on protobuff 3.4.1

[2018-03-15 17:02] dmoham1476 opened #618 "onnx importerror"
Hi

I am trying to install onnx and then onnx-tf on ubuntu Ubuntu 16.04.3 LTS.
I ran the following commands
sudo apt-get install protobuf-compiler libprotoc-dev
pip install onnx
python -c "import onnx"

(venv_p3) dmohan@archlab1:~/ml_work/venv_p3$ python -c "import onnx"
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/home/dmohan/ml_work/venv_p3/lib/python3.5/sit

[2018-03-15 17:13] dmoham1476 commented on #618
I have protobuf installed
Successfully installed protobuf-3.5.2 setuptools-38.5.2 six-1.11.0

[2018-03-15 17:43] bddppq commented on #618
Very likely there are two versions of protobuf in your system. Could you do `protoc --version` and paste the output here?

[2018-03-15 17:57] dmoham1476 commented on #618
This is what I see
dmohan@archlab1:~/ml_work/venv_p3$ protoc --version
libprotoc 3.0.0

[2018-03-15 18:04] bddppq commented on #618
Right and I believe the system libprotobuf installed through apt-get on Ubuntu 16.04.3 is not of protobuf version 3. Did you install the `protoc` currently in your PATH from conda? (do `which protoc`).

[2018-03-15 18:22] dmoham1476 commented on #618
I installed protoc using

sudo apt-get install protobuf-compiler libprotoc-dev

When I do which protoc, I get this -

dmohan@archlab1:~/ml_work/venv_p3$ which protoc
/usr/local/bin/protoc

Kindly suggest if I am doing this wrong

[2018-03-15 18:23] fangmingbnu opened #621 "ONNX export failed: Couldn't export operator narrow"
I think current ONNX could not support narrow operator, could someone help to fix that? Thank you!

[2018-03-15 18:53] dmoham1476 commented on #618
I checked that the libprotobuf-dev that I installed is already the newest version - 2.6.1-1.3

[2018-03-15 19:13] bddppq commented on #618
Ok so this explains the issue. Your protoc is of version 3.0.0 while libprotobuf is of version 2.6.1. These two need to have same versions.

[2018-03-15 20:42] lupesko commented on #571
This is a pretty significant set of changes.
I'm supportive of cutting a new release.
I propose v1.1 since we're adding a bunch of new operators with this release (per [semver guidance](https://semver.org/#spec-item-7))

Any comments/suggestions?

[2018-03-15 21:32] dmoham1476 commented on #618
I now installed protobuf 3.5.1 from https://github.com/google/protobuf/blob/master/src/README.md

Did make/etc and then tried the onnx import again, same error. My protoc --version now returns libprotoc 3.5.1.

[2018-03-15 21:34] houseroad commented on #376
https://github.com/onnx/onnx/pull/616

[2018-03-15 21:39] houseroad commented on #621
Looks like the narrow does not have symbolic function, so the exporter in pytorch does not know how to export it. It will be great if you can follow [this tutorial](https://github.com/onnx/tutorials/blob/master/tutorials/PytorchAddExportSupport.md) to add the support in pytorch. :-)

I think in onnx, you can use slice to represent the op.

[2018-03-15 22:28] fangmingbnu commented on #621
I try to add the narrow function (follow the slice function) in the symbolic function like this. But it doesn't work.

def slice(g, self, dim, start, end, step):
    if step != 1:
        _unimplemented("slice", "step!=1 is currently not supported")
    return g.op("Slice", self, axes_i=[dim], starts_i=[start], ends_i=[end])

def narrow(g, self, dimension, start, length):
    # if step != 1:
    #

[2018-03-15 23:14] houseroad commented on #621
Here is the signature of narrow function:
[code]

Please follow the above to create the symbolic.

[2018-03-16 00:18] houseroad commented on #595
https://github.com/onnx/models/issues/26

[2018-03-16 00:57] fangmingbnu commented on #621
I found I do not have torch/csrc/autograd/generated/VariableType.h. I also do not have csrc in torch folder. Whether I should rebuild pytorch from source? Thank you!

[2018-03-16 05:07] fangmingbnu commented on #621
Thank you for your advice! I try to install pytorch from source. Now it works.

[2018-03-16 05:43] houseroad commented on #505
@newstzpz do we still have problem on exporting?

[2018-03-16 05:44] houseroad commented on #515
Done in https://github.com/onnx/onnx/pull/584

[2018-03-16 05:44] #515 closed

[2018-03-16 06:14] newstzpz commented on #505
Thanks @lvdmaaten's help, we are good now.

[2018-03-16 06:14] #505 closed

[2018-03-16 09:10] dzhulgakov commented on #571
@anirudhacharya - thanks a lot for compiling the change list! This looks good (maybe add that "control flow" is formally is still in experimental)

v1.1 sounds great

Also cc @prasanthpul @linkerzhang

[2018-03-16 17:55] dmoham1476 commented on #618
Anything else I can try?

[2018-03-18 06:43] amandeepsaini opened #624 "Error exporting models in caffe2"
I followed the tutorial for exporting a caffe2 model (squeezenet) to ONNX, but got the error below:

  File "caffe2toOnnx.py", line 24, in <module>
    value_info,
  File "/usr/local/lib/python2.7/dist-packages/caffe2/python/onnx/frontend.py", line 589, in caffe2_net_to_onnx_model
    model = make_model(cls.caffe2_net_to_onnx_graph(*args, **kwargs),
  File "/usr/local/lib/python2.7/dist-packages/c

[2018-03-19 01:43] terrytangyuan commented on #581
Could anyone from ONNX team activate Travis for onnx-r repo for me? - https://github.com/onnx/onnx-r Thanks!

[2018-03-19 02:29] fumihwh opened #625 "opset_import is not available for testing node"
As https://github.com/onnx/onnx/pull/608 was merged, some test case should be fixed also.
- PixelShuffle (OnnxBackendPyTorchConvertedModelTest)
- inception_v1 (OnnxBackendRealModelTest)
- shufflenet (OnnxBackendRealModelTest)

[2018-03-19 04:10] houseroad commented on #625
We have the opset_import to specify the opset version, so if backend supports opset correctly, it should also be able to run these models.

[2018-03-19 04:27] fumihwh commented on #625
Thanks. Let me try.

[2018-03-19 06:20] fumihwh commented on #625
@houseroad
I've checked. So if I didn't misunderstand, backend should prepare servals opset's handlers to deal with different versions of op, right?

[2018-03-19 16:53] houseroad commented on #625
Yes, correct. When some breaking changes are introduce into ONNX, the opset version should also increase. Before you run the ONNX model, you should check the opset version to make sure your backend is able to handle it. Right now, the spec of the most ops are pretty stable already, usually one opset version change should only affect one op spec.

[2018-03-19 16:57] lupesko commented on #571
Bounce. @prasanthpul ?

[2018-03-19 17:21] liqunfu opened #626 "Documentation for RNN, LSTM, GRU shall specify output sequence order when direction is set to reverse"

[2018-03-19 17:47] #621 closed

[2018-03-19 17:49] fangmingbnu opened #627 "RuntimeError: ONNX export failed: Couldn't export operator renorm"
I try to transfer the sphere face model (https://github.com/clcarwin/sphereface_pytorch) from pytorch to caffe2. But the code remind me such error.

RuntimeError: ONNX export failed: Couldn't export operator renorm

Could you please help me about this? Thank you!

[2018-03-19 18:27] houseroad commented on #627
I think we don't have p-norm op in ONNX right now. Two things you need to do to fix the problem:
1) Propose a p-norm op in ONNX
2) After it gets into ONNX, add a symbolic function for renorm to export.

[2018-03-19 20:55] houseroad commented on #624
I just fixed the bug what caused your first failure here: https://github.com/caffe2/caffe2/pull/2292

Please upgrade your ONNX and Caffe2 package (I would suggest you install them from source )

[2018-03-20 01:24] houseroad commented on #626
@liqunfu do you mind creating a PR to fix the issue?

[2018-03-20 01:52] labsurde commented on #586
@alexionby, thank you for the comment.
I tried
`conda install -c ezyang onnx onnx-caffe2`
it installed 3.5.1 version of `protobuf` and `libprotobuf`. (same with the above case 1)
Again while installing caffe2 by `conda install -c caffe2 caffe2`, conda try to downgrade `protobuf` and `libprotobuf` to 3.4.1.

Interesting thing is that `tutorials/tutorials/Caffe2OnnxExport.ipynb` failed while running

[2018-03-20 04:22] fumihwh commented on #625
@houseroad
I didn't find `opset_import` in `NodeProto`, only in `ModelProto`.
So in node level tests, how to figure out which version should backend use?
Also I can't pass context to `onnx.checker.check_node` when inheriting `Backend` class and call `run_node` method.
https://github.com/onnx/onnx/blob/master/onnx/backend/base.py

[2018-03-20 04:37] houseroad commented on #625
@fumihwh you are right, only `ModelProto` contains `opset_import`. The `context` is created by parsing meta-data in `ModelProto`. Right now, all the node test's `opset_import` should use the newest `opset_import`. We plan to turn all the node tests into simple model tests. After that they will also contain such meta-data needed by the backend.

[2018-03-20 06:22] houseroad commented on #618
Have you uninstalled libprotobuf in your system? The easiest solution is keeping only one protobuf in your system.

[2018-03-20 07:24] amandeepsaini opened #630 "Unrecognized attribute: exhaustive_search"
When I try to export the LeNet model from the caffe2 [Python MNIST Tutoria](https://github.com/caffe2/caffe2/blob/master/caffe2/python/tutorials/MNIST.ipynb)l, I get the following error:

As a reference, here is the code I added to the tutorial code to export the model:
[code]

Other networks that I've trained from scratch also result in the same error. Any ideas on how I can resolve this issue?

[2018-03-20 07:28] amandeepsaini commented on #624
Thanks! So installing ONNX and Caffe2 from the latest source fixed the issues with the googlenet export, but now squeezenet has a new problem:

[2018-03-20 18:43] liqunfu opened #631 "test failed with No module named 'onnx.onnx_pb'"
On a windows 10 anaconda python 3.6 environment, I followed the installation instruction:
git clone --recursive https://github.com/onnx/onnx.git
conda install -c conda-forge protobuf numpy
(in cntk)
pip install onnx
(in cntk/cntk in order to avoid ModuleNotFoundError: No module named 'onnx.onnx_cpp2py_export')
python -c "import onnx"
pip install pytest-cov nbval
(no error from above steps.)
pytest

[2018-03-20 19:10] prasanthpul commented on #571
we are good with the listed items, i.e. up to and including #605

[2018-03-20 20:07] anderspapitto opened #632 "Enhance shape inference"
This task tracks improvements to shape inference which I intend to defer out of https://github.com/onnx/onnx/pull/564

[code]

[code]

[code]

[code]

[code]

- add many more shape inference functions

[2018-03-20 20:10] liqunfu commented on #631
Does ONNX installation instruction miss this step?
pip install -e .

[2018-03-20 20:24] jspisak commented on #571
+1 we are good as well.

[2018-03-21 04:23] happywu opened #636 "RuntimeError: ONNX export failed: Could not export a broadcasted operation; ONNX likely does not support this form of broadcasting."
Hi,
I'm trying to convert a pytorch model to onnx, however, I got this:
### RuntimeError: ONNX export failed: Could not export a broadcasted operation; ONNX likely does not support this form of broadcasting.

Is this indicating I have to implement a broadcasted operator myself?
Thanks.

[2018-03-21 06:24] ezyang commented on #636
Some forms of broadcasting are not officially supported by the ONNX spec, and so there's no obvious translation (ONNX doesn't have an Expand operator yet) and so we fail the export.

If you post your model we might be able to say more.

[2018-03-21 06:31] happywu commented on #636
Hi,
the pytorch model structure I am trying to convert is from https://github.com/NVIDIA/flownet2-pytorch/blob/master/networks/FlowNetS.py.

[2018-03-21 11:41] #603 closed

[2018-03-21 18:30] dougalsutherland opened #639 "pypi version requires protobuf 3.4"
Because `sdist` includes `onnx.pb.h`, the generated source distribution can only be used with the same(ish) version of `protobuf` as whoever generated the source. Particularly, `pip install onnx` doesn't work right now if you have protobuf 3.5.

Since you need protobuf at compile time anyway, it'd probably be better to change `setup.py` to not include these files in `sdist`s but generate them at c

[2018-03-21 20:30] bddppq commented on #639
1. including the auto-generated `onnx.pb.h` file is not ok, since pypi doesn't allow reuse the version number, we need to bump the version again v1.1.1

2. `sdist` should not auto-generate the protobuf header files. I just tried again locally and it matches my expectation. The current situation is very likely the release process is done in a not clean git checkout (i.e. the auto-generated files ar

[2018-03-21 20:45] dzhulgakov commented on #631
You're probably better off using the sources from github (which you do) - in which case you indeed need to do `pip install -e .` instead of `pip install onnx`. Which instructions are you referring to?

[2018-03-21 20:56] dzhulgakov commented on #626
also cc @anderspapitto to include backend tests for it (it's already covered by pytorch integration tests for some cases)

[2018-03-21 21:20] spidyDev opened #641 "Incorrect averagepool expected output."
@fumihwh @houseroad

The expected output for averagepool_2d_precomputed_pads looks incorrect.
I think it should be :
[code]

but given:
[code]

Am I missing something here ?

[2018-03-21 21:48] spidyDev commented on #641
Below is the average pool test replicated in mxnet, gives the same result I mentioned above:
[code]

[2018-03-21 22:17] anirudhacharya commented on #639
@bddppq Before pushing to the dist, I did check that my git checkout was clean, with this
[code]
And it was clean.

[2018-03-21 22:20] dougalsutherland commented on #639
@anirudhacharya That doesn't tell you anything about gitignored files, including `onnx.pb.h`. `git clean -nxd` or similar would be a better approach.

[2018-03-21 22:29] anirudhacharya commented on #639
Yes, the checkout was probably not clean.
[code]
we could probably run, ```git clean -xd``` and push the 1.1.1 release.

[2018-03-21 22:39] anirudhacharya commented on #639
@bddppq @dougalsutherland
I can ```git clean -xd``` my branch to remove all the build products from the branch, then I will generate the source distribution, and push to the test instance of pypi. We can test it and then make the v1.1.1 release to pypi.
Would that be okay?

[2018-03-21 22:44] dougalsutherland commented on #639
SGTM @anirudhacharya.

[2018-03-21 22:50] HeliWang commented on #639
For now if I want to build and install from the master source, which version of protobuf should I use? I was using protobuf master version but I got:

   gcc -pthread -B /home/ubuntu/anaconda3/compiler_compat -Wl,--sysroot=/ -Wsign-compare -DNDEBUG -g -fwrapv -O3 -Wall -Wstrict-prototypes -fPIC -DONNX_NAMESPACE=onnx -I/tmp/pip-k3xe161w-build -I/tmp/pip-k3xe161w-build/third_party/pybind11/include -

[2018-03-21 22:54] anirudhacharya commented on #639
@HeliWang use this - https://github.com/google/protobuf/releases/tag/v3.4.0

[2018-03-21 22:56] bddppq commented on #639
@HeliWang If you want to install from the current github master, the issue mentioned above doesn't affect you, you can use any version that is >=2.6.1 If you want to install the current newest release from pypi, then use the one pointed by @anirudhacharya .

[2018-03-21 23:04] bddppq commented on #639
@anirudhacharya this is because the autogenerated files are in git ignored. The safest way is do a clean checkout.
Note this won't be a problem once our release automation setup is ready (@raymondxyang is working on that).

[2018-03-21 23:31] anirudhacharya commented on #639
@dougalsutherland @bddppq published v1.1.1 to testpypi.
Seems to work fine with the protobuf version 2.6.1. I am trying with libprotoc 3.5. I will comment here once I have verified.
[code]
[code]

[2018-03-21 23:56] HeliWang commented on #639
I am trying to install the onnx-1.1.0 version from pip. Before the pip installation I have installed protobuf 3.4.0 from https://github.com/google/protobuf/releases/tag/v3.4.0 as well as the protobuf python v3.4.0.

Right now if I check the protoc version by "protoc --version", it will show as libprotoc 3.4.0.

However after I did "pip install onnx" I got the same error like:

gcc -pthread -B /hom

[2018-03-22 00:39] houseroad opened #642 "Converter for different opset version"
Ideally this can help developers convert the models between different opset version. @ezyang @bddppq

[2018-03-22 01:01] anirudhacharya commented on #639
Built and installed [protobuf 3.5.0](https://github.com/google/protobuf/releases/tag/v3.5.0), commit hash - https://github.com/google/protobuf/commit/2761122b810fe8861004ae785cc3ab39f384d342

and

Built and installed [protobuf 3.5.1](https://github.com/google/protobuf/releases/tag/v3.5.1), commit hash - https://github.com/google/protobuf/commit/106ffc04be1abf3ff3399f54ccf149815b287dd9
[code]
Was a

[2018-03-22 01:28] dougalsutherland commented on #639
@anirudhacharya Not sure where these tests are? If I run `python setup.py test` on a clean checkout of the `v1.1.0` tag, I get lots of `ModuleNotFoundError: No module named 'onnx.version'` errors. But those file paths don't look like anything I'm seeing in the `onnx` repo.

[2018-03-22 02:06] anirudhacharya commented on #639
@dougalsutherland sorry for the confusion, those were a bunch of mxnet tests that uses ONNX, please disregard those error messages.

I have pushed v1.1.1 to test PyPi - https://test.pypi.org/simple/onnx/
I am able to install onnx v1.1.1 with ```pip install --index-url https://test.pypi.org/simple/ onnx==1.1.1```  with protoc versions ```libprotoc 3.5.1``` and ```libprotoc 2.6.1```.

Can you please

[2018-03-22 02:58] dougalsutherland commented on #639
I am also able to `pip install --index-url https://test.pypi.org/simple/ onnx==1.1.1` with `libprotoc 3.5.1` on OSX. Don't have any actual test cases handy to run and check, though.

[2018-03-22 03:11] wzhongyuan opened #643 "How to test the correctness"
Hi,
I am new to onnx, From my understanding, it just defines common format and operators and what these operators mean, but there is no operator implementation, right ? so how should I know the correctness ? For example, if I implement a `Abs` and convert to onnx model, how to test ?

[2018-03-22 03:24] fumihwh commented on #641
@spidyDev
[code]
↑ first pool window

We can get average is `(1 + 2 + 3 + 6 + 7 + 8 + 11 + 12 + 13) / 9 = 7` for first element.

https://github.com/onnx/onnx/blob/master/docs/Operators.md#AveragePool
`The output of each pooling window is divided by the number of elements exclude pad.`
So we don't divide by 25 here, which can get 2.52 as you did.

[2018-03-22 03:26] fumihwh commented on #643
I think you can use backend of others framework to run.

[2018-03-22 04:30] wzhongyuan commented on #643
@fumihwh   Do you mean use backend of other framework to load exported onnx model and run with the sampe input to see if it generates the same output as my framework?

[2018-03-22 04:36] fumihwh commented on #643
@wzhongyuan Yes.

[2018-03-22 04:51] wzhongyuan commented on #643
@fumihwh  Thanks very much, just one more question,  what does `check_model` generally do ?

[2018-03-22 05:10] houseroad commented on #643
@wzhongyuan `check_model` will check your model is compliant with ONNX specification, for example whether the required fields appear, whether the operators in your model follow the ONNX's specification

[2018-03-22 05:11] spidyDev commented on #641
@fumihwh  Thanks for clarification.

[2018-03-22 05:11] #641 closed

[2018-03-22 05:12] ezyang commented on #642
Yep. Forwards + backwards, as far as possible.

[2018-03-22 05:13] houseroad commented on #641
@fumihwh Thanks for answering the question. Yeah, most of the existing framework does not count the pad when computing the average.

[2018-03-22 06:04] anirudhacharya commented on #639
I am able to build and compile the v1.1.1 tag with protobuf version 2.6, 3.4 and 3.5.1. I think this distribution is fine. Doing a ```git clean -ixd``` before building the sdist ensured that my branch was clean and that I was not pushing any files generated as part of the local build into PyPi.

The distribution is currently on the test instance of PyPi and can be installed with ```pip install --i

[2018-03-22 06:20] HeliWang commented on #639
I disabled conda and now I am able to build and compile the v1.1.1 tag with protobuf version 2.6.1.

[2018-03-22 18:37] anirudhacharya commented on #639
ONNX v1.1.1 release - https://pypi.org/project/onnx/

[2018-03-22 21:24] KOLANICH opened #645 "Onix frontend docs and tutorial"
Hello. Do I understand right that onnx frontend is model -> onnx converter? Could you write a tutorial on writing it? I have looked into projects, there are plenty of files I don't know why do we need them all. So could you create a very minimalistic toy frontend showing all the aspects of using onxx library? I wonder if I can create a tree of nodes in the manner I construct python AST and make th

[2018-03-23 01:56] wzhongyuan commented on #643
@houseroad   thanks,

[2018-03-23 01:56] #643 closed

[2018-03-23 04:31] houseroad commented on #456
https://github.com/onnx/onnx-caffe2/blob/master/tests/optimize_onnx_test.py#L23

[2018-03-23 04:51] houseroad commented on #645
Frontend means the onnx exporter, which exports the models from your framework to onnx format.

An ONNX model is in protobuf format, and the schema is defined here: https://github.com/onnx/onnx/blob/master/onnx/onnx.proto

If you want to write a frontend for your framework or just for fun, you probably should check the [helper.py](https://github.com/onnx/onnx/blob/master/onnx/helper.py) first.

We

[2018-03-23 05:38] bddppq commented on #645
just to add an example frontend implementation (in caffe2): https://github.com/caffe2/caffe2/blob/master/caffe2/python/onnx/frontend.py

[2018-03-23 06:22] KOLANICH commented on #645
Thank you.

[2018-03-23 06:22] #645 closed

[2018-03-23 09:04] KOLANICH opened #649 "Use setuptools_scm to get version from git instead of self-written code"

[2018-03-23 09:10] #649 closed

[2018-03-23 15:06] liqunfu commented on #631
I did use the source. However the instruction (for installing from source on ONNX GitHub home page) does not say "pip install -e .". It instead has "pip install onnx" which will fail (at least on windows) as I has showed.

[2018-03-23 15:14] #639 closed

[2018-03-23 16:26] bddppq commented on #631
@liqunfu In non-develop installation (i.e. without `-e`), import onnx from the top level directory in the github source checkout doesn't work, you will need to change your current path to somewhere else as mentioned in the Installation section in our README:

If you wanna do development (and thus will need to invoke tests in the source directory), please follow the development installation instruc

[2018-03-23 19:00] HeliWang opened #654 "Dynamic dummy input when exporting a PyTorch model?"
When I export a PyTorch model, I need to have a dummy_input like this:
        print("Saving model to ONNX...")
        x = torch.rand(1000, 47, 300) # shape 1000x47x300
        dummy_input = Variable(x, requires_grad=True)
        torch.onnx.export(self.model, dummy_input, export_file, verbose=True)

However, the shape of my input when doing inference using the onnx model could be not the same as

[2018-03-23 19:12] houseroad commented on #654
Input and output shape info is required to be static, shall we relax this requirement? @ezyang @Yangqing @dzhulgakov @bddppq @ebarsoum

[2018-03-24 03:18] tjingrant opened #658 "Travis Throttling"
Hi,

We are facing an increasing problem with Travis throttling builds in onnx-tensorflow repo.

Are there any ways to deal with Travis throttling builds? I think Travis may be limiting concurrent jobs in an organization. Can we do something about the automatic bot in Core-ML converter repo? Are there any ways to make these bots commit in bulk?

We have to wait for hours before seeing a CI result.

[2018-03-24 05:37] bddppq commented on #654
This is a very good question and it's a topic we have been discussing repeatedly recently. The answer has three parts:
1. whether onnx supports representing models with dynamic shape
2. whether frontends (like pytorch) supports exporting models with dynamic shape
3. whether backends (like caffe2) supports importing models with dynamic shape

For 1, in serialization format's level, onnx supports re

[2018-03-24 05:43] HeliWang commented on #654
Thanks a lot @bddppq for your detailed answer. Currently I am converting models from PyTorch -> ONNX -> MxNet. For 3 I think @anirudhacharya mentioned in https://github.com/onnx/onnx-mxnet/issues/44 that onnx-mxnet will soon support Gluon.

[2018-03-24 14:06] MuLx10 commented on #14
@mbehrisch  Can you get python equivalent of this snippet

[2018-03-24 15:47] ezyang commented on #658
I recommend switching CI services. Though I have not used it before, many folks I know have happily switched from Travis to CircleCI

On March 23, 2018 11:18:07 PM EDT, Tian Jin <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-03-24 19:18] tjingrant commented on #658
@ezyang thanks I'll give that a try, closing for now.

[2018-03-24 19:18] #658 closed

[2018-03-26 09:23] logen1004 opened #660 "LINK : fatal error LNK1181: cannot open input file 'protobuf.lib'"
Hi, I'm trying to install onnx using
`pip install onnx`
But facing the error:

My environment is Python 3.6, protobuf 3.5.1, Windows 10.

[2018-03-26 18:11] prasanthpul commented on #660
Before pip install, did you do "conda install -c conda-forge protobuf numpy" ?

[2018-03-28 00:03] #631 closed

[2018-03-28 00:11] liqunfu opened #670 "Travis failed without clear reason"
I had a pull request:
https://github.com/onnx/onnx/pull/668
which failed at:
https://travis-ci.org/onnx/onnx/jobs/359111591

There is no clear error message on why it failed. AppVeyor build passed however.

May someone help? Thanks!

[2018-03-28 00:15] houseroad commented on #595
It's already removed. :-)

[2018-03-28 00:15] #595 closed

[2018-03-28 00:41] liqunfu commented on #631
Thanks @bddppq.  I am following CONTRIBUTING.md now.

BTW, glad to work with ONNX.

[2018-03-28 00:49] raymondxyang commented on #560
closed as wheel published.
Please use `pip install onnx==1.0.1` for now and new version will be published soon

[2018-03-28 00:50] #560 closed

[2018-03-28 02:56] bddppq commented on #670
ONNX doc is auto-generated and the python/numpy code of each test case will be attached as example code snippet to the doc. You will need to invoke `python onnx/defs/gen_doc.py` to regenerate the doc.

[2018-03-28 05:51] dmoham1476 commented on #618
I tried that and it didnt work. I tried the conda install after installing anaconda, creating a conda virtualenv and installing onnx there with conda-forge, after this when i try to import onnx, I get "aborted core dumped'. I installed pytest and ran pytest, it is not able to collect any items and hence reports 0 tests ran.

[2018-03-28 06:08] jendrikjoe opened #673 "Getting errors when running the mean and average pooling tests"
Hey everyone,

I am currently trying to incorporate the new submissions to the average pool and max pool testing in to my PR #575 . To test actual processing, I build a script to replace the fake backend with caffe2:

    from __future__ import absolute_import
    from __future__ import division
    from __future__ import print_function
    from __future__ import unicode_literals

    import os

[2018-03-28 06:11] houseroad commented on #673
same_lower is not supported by Caffe2, and same_upper's support is here: https://github.com/caffe2/caffe2/pull/2325
I will get it landed soon.

[2018-03-28 06:12] jendrikjoe commented on #673
Thanks for the input @houseroad! Will ignore them then :)

[2018-03-28 06:12] #673 closed

[2018-03-28 06:44] raymondxyang commented on #660
We just published the wheel for onnx==1.0.1 version.

[2018-03-28 22:47] houseroad commented on #630
This seems a bug in Caffe2 onnx frontend (exporter). When you convert the model from Caffe2 to ONNX, some caffe2 specific attributes are also carried to ONNX model.

[2018-03-29 00:12] houseroad commented on #576
I have updated the cases in this pr: https://github.com/onnx/onnx/pull/677

[2018-03-29 15:00] postrational commented on #251
Hi everyone. I took notes on the discussion above and create a new PR which adds the functionality of storing tensor data in external files: https://github.com/onnx/onnx/pull/678

Please take a look and let us know what you think. Your comments are welcome.

[2018-03-29 16:21] snnn opened #679 "Tensor's name is missing in backend tests' example models"
Download squeezenet model from https://s3.amazonaws.com/download.onnx/models/opset_6/squeezenet.tar.gz
Unzip it and run the script below with squeezenet\test_data_set_0\input_0.pb
[code]

The output is empty.

[2018-03-29 22:52] #571 closed

[2018-03-29 23:06] houseroad commented on #679
@snnn you are right, we don't provide the name in the TensorProto in this case.
According to the spec, the name of TensorProto is optional, only one is required, which is initializer: https://github.com/onnx/onnx/blob/master/onnx/onnx.proto#L241

So in run_model, inputs should be passed in the right order. :-)

[2018-03-29 23:26] #679 closed

[2018-03-29 23:28] liqunfu commented on #670
Thanks @bddppq for your suggestion. It was because my git configuration for line break conversion. I did:
git config core.autocrlf input
which would convert CRLF on Windows to Linux LF. This solved my problem.

[2018-03-29 23:28] #670 closed

[2018-03-29 23:43] dzhulgakov opened #680 "Add a helper wrapper for constructing tensor initializers"
Simple task - add helper utilities for constructing and manipulating initializers to https://github.com/onnx/onnx/blob/master/onnx/helper.py

Example code doing something similar: `make_tensor` in https://github.com/onnx/onnxmltools/blob/master/onnxmltools/proto/helper.py#L77

[2018-03-29 23:58] bddppq commented on #680
For construction, initializers are a list of TensorProto, so `make_tensor`.

[2018-03-30 05:42] dzhulgakov commented on #680
I think numpy_helper was what people on Gitter were looking for. Totally forgot about it :)

[2018-03-30 05:42] #680 closed

[2018-03-30 08:05] #625 closed

[2018-03-30 08:08] fumihwh commented on #625
#651

[2018-03-30 08:51] #576 closed

[2018-03-30 15:02] EmergentOrder commented on #359
@isaacmg @schlichtanders
@bddppq is right, the first step is creating a Java binding. I've done this using [JavaCPP Presets](https://github.com/bytedeco/javacpp-presets). It has some rough edges (it requires making some substitutions in an ONNX source file, uses its own data structures instead of Java's, etc.), but I have it working (against ONNX 1.0.1 at the moment).
This gives you the ability to

[2018-03-30 18:49] snnn commented on #679
Hi @houseroad ,

However, It's hard to know this tensor is for which input.
For example, for the inception_v2 model in ONNX's model zoo, it has about 400 inputs.
[code]
And 1 output
[code]

There is only 1 input tensor in each test data set. Though I know it should be for input "data_0", it's based on human guessing.

[2018-03-30 18:51] houseroad commented on #679
@snnn Sure, it's on my list :-)

[2018-03-30 18:54] snnn commented on #679
What's your planning? Do we have a issue here for tracking that?

[2018-03-30 18:56] houseroad commented on #679
I would suggest you open an issue in onnx/models repo. We can track this issue there. :-)

[2018-03-30 21:59] dcrankshaw opened #683 "Error after installing ONNX in Docker container: Error in `python': free(): invalid pointer"
I'm having trouble installing ONNX in a Anaconda-based docker image. Steps to reproduce:

1) Build Docker image:

Dockerfile definition:
[code]
Build image:
[code]
2) Run image:
[code]
3) Inside the image, try importing onnx:
[code]

Any ideas what's causing this or how to either fix it or work around it? I tried using pip to build from source as well, but that caused a whole other set of issues.

[2018-03-30 22:19] dcrankshaw commented on #683
I have a full backtrace:
[code]

[2018-03-31 17:20] fumihwh commented on #535
@dzhulgakov
I would love to take this. But I am new to C++ and have no idea how to debug C++ (especially using CLion).

Following is my progress:
- build onnx from source
- do cmake (cmake-build-debug has been created)
- try test_fuse_transpose

But I can't step into `onnx.optimizer.optimize(orig_model_str, opts)`.
I googled and find there is no executable C application of optimizer under onnx roo

[2018-04-01 06:50] bddppq commented on #535
@fumihwh Thanks for working on this! Yeah right now all of our tests are driven by python so there is no C++ executable targets. I'm not familiar with CLion. Normally I use gdb/lldb to step into the c++ code. e.g. you can do
1. `gdb --args python onnx/tests/optimizer_test.py` in the shell to put a python process into gdb
2. `b onnx::optimization::Optimizer::Optimizer` inside gdb to set a breakpoin

[2018-04-01 07:09] fumihwh commented on #535
@bddppq
Great! Thanks! I will try this later.

Currently, I am using another way to do this. Make an onnx-test.cpp to parse pb first and call optimizer.
Succeed in parse pb to ModelProto by using https://github.com/lcskrishna/onnx-parser . (It lets me to know a little bit more about C++ build, compile...)
And when I try to call (**add**, strictly) `onnx::optimization::Optimize`, failed on build. `

[2018-04-01 16:25] daniel-j-h opened #685 "ONNX segfaults on Ubuntu 16.04 Python3"
On Ubuntu 16.04 with

    sudo apt install protobuf-compiler libprotobuf-dev

    virtualenv -p python3 .env
    . .env/bin/activate

    pip install onnx

Using Python3 I can see segfaults and errors like the following:

[code]

[code]

The same works fine in a virtualenv with Python2 instead of Python3.

Is ONNX not compatible with Python3? Or are there any problems due to the native code and th

[2018-04-01 17:39] newling opened #686 "broadcasting semantics differ for Matmul and (Add, Max, Min, etc.) ?"
The basic binary operators (Add, Max, Min, etc.) allow for the second tensor to be broadcast to the shape of the first tensor, the first tensor is never broadcast.

According to the Matmul operator documentation, Matlum allows for the more general numpy-like broadcasting:

Moreover, matmul does not require an explicit broadcast flag. I'd prefer broadcasting semantics to be the same for all Operato

[2018-04-02 03:12] wzhongyuan commented on #586
I met the same error as well, does anybody have solution how to fix it ?

[2018-04-02 03:14] wzhongyuan opened #687 "Imcompatible protobuf dependency between onnx and caffe2"
I installed caffe2 and then installed onnx using conda, but when I ran the tutorial example, i ran into below error:

[code]

does anyone know how to fix it ?

[2018-04-02 06:18] fumihwh opened #688 "model domain and opset_imports domain"
From https://github.com/onnx/onnx/blob/master/docs/IR.md#model,
I get model has a string domain.
And opset_imports(list of OperatorSetIdProto) also have domains.

So how to deal with model contains opset from multiple domains?
As my understanding, model domain is just for user using, let them can set custom domain, e.g. "com.abcdefg"
And opset_imports' domains come from onnx, they should be in def

[2018-04-02 14:22] fumihwh commented on #535
@bddppq I've tried your ways and got

[code]

Did I miss something?

[2018-04-02 15:14] EmergentOrder commented on #359
Added a branch built against ONNX 1.1.0

[2018-04-02 16:47] #582 closed

[2018-04-02 17:29] houseroad commented on #688
Yes @fumihwh, you are right. The domain in model is just for the model itself.
The domains in opset_imports will be used when the model is loaded by the backend.
The default domain is "" or "ai.onnx". If you have any customized ops which are not in the official onnx opset, you can use the opset domain to distinguish them from the official ones. Then you backend will give some special handling on t

[2018-04-02 17:42] houseroad commented on #686
MatMul is not an element-wise operator, so the broadcasting has different meaning. And our MatMul behavior is the same as numpy's.

[2018-04-02 18:11] newling commented on #686
I agree that MatMul is not element-wise per se, but if one considers the matrices (final 2 dimensions of tensors) as elements, it is element-wise. Taking this into consideration numpy broadcasting is exactly the same for MatMul as the element-wise operations.

Why have you chosen to follow numpy broadcasting for MatMul and not the element-wise operations? It seems inconsistent to me.

[2018-04-02 18:37] houseroad commented on #686
2D matmul is actually quite different from add/sub/... and other element-wise ops.

For example:
a's shape (2, 3)
b's shape (3, 4)
matmul(a,b)'s shape is (2, 4)

The broadcasting is quite different from other element-wise ops.

[2018-04-02 18:55] newling commented on #686
But Matmul is not 2D. It is not just the numpy dot operator. The distinction between matmul and dot is exactly it's broadcasting. There's no broadcasting in your example.

a.shape = (1,1,2,3)
b.shape = (3,4,3,4)
matmul(a,b).shape = (3,4,2,4)

a.shape = (3,4,1,2,3)
b.shape = (3,1,2,3,4)
matmul(a,b).shape = (3,4,2,2,4)

etc.

These broadcasting rules are exactly the same as for add/sub/etc in numpy.

[2018-04-02 20:34] houseroad commented on #686
Yeah, your example makes sense. Right now, ONNX broadcasting style is different from Numpy, but this MatMul. We are considering whether we should change ONNX's broadcast to be compliant with Numpy. We can move our discussion to our gitter room: https://gitter.im/onnx/test_compliance

[2018-04-02 20:54] dzhulgakov commented on #687
@pjh5 for checking conda setup.

[2018-04-02 22:05] psdwork opened #693 "."

[2018-04-02 22:06] #693 closed

[2018-04-03 01:40] fumihwh commented on #688
@houseroad So it is ok for opset_imports has multiple OperatorSetIdProto. Ok, I see. Thanks.

[2018-04-03 03:38] houseroad commented on #688
Yes, one model may contain multiple OperatorSetIdProtos

[2018-04-03 05:19] #688 closed

[2018-04-03 05:50] houseroad commented on #685
You didn't load the model correctly.

Please try:
`onnx.checker.check_model(onnx.load('model.onnx'))`

[2018-04-03 07:14] newling commented on #686
ok, thanks for the update. Moving over to gitter now.

[2018-04-03 07:27] daniel-j-h commented on #685
Good catch, that was probably a mistake of running the steps in an interactive Python interpreter. I still get the segfault when only running `help(model)` though:

[code]

[2018-04-03 16:45] linkerzhang opened #696 "Is it ok and better to get rid of using static variables in onnx?"
Currently, op registration happens during static initialization, whose order is undefined. To support adding operators for customized domain, dynamically adding a domain should happen before customized op registration. There may be two options,
1. Move all operator registration into a static function to ensure domain customization will happen before op registration.
2. Not use static variables in

[2018-04-03 19:12] raymondxyang opened #698 "supports_device() always true in backend base.py"
[Source](https://github.com/onnx/onnx/blob/master/onnx/backend/base.py#L73)

This leads to enabling CUDA testcases on Appveyor, and there is no clear documentation AppVeyor for CUDA support.

[2018-04-03 20:00] houseroad commented on #698
I will create a PR to fix this. :-)

[2018-04-03 20:40] houseroad commented on #698
@raymondxyang I have discussed with @bddppq offline. In base.py, this design is intended. I have added the implementation for the DummyBackend https://github.com/onnx/onnx/pull/701

[2018-04-04 02:01] fumihwh opened #703 "during test, use output node's schema to check the output type"
I don't think current solution is perfect.
Ops always allow multiple types, e.g. tensor(float16), tensor(float), tensor(double).
Just do `np.testing.assert_equal(ref_outputs[i].dtype, outputs[i].dtype)` is not enough.
The better way is use output node's schema to check the type.

I did some work about this and will create a PR to fix this.
One problem is I am not sure where put onnx type string to

[2018-04-04 02:32] bddppq commented on #703
There are ops that can have multiple outputs types, however, given inputs types, the outputs types are **determined**. e.g. [Add](https://github.com/onnx/onnx/blob/master/docs/Operators.md#add)'s output type needs to be the same as its input's type.

[2018-04-04 02:42] bddppq commented on #696
I think we just need to change the [OpSchemaRegisterOnce ctor](https://github.com/onnx/onnx/blob/2af45df08182f26c2279c8177e3f736fc66e77ae/onnx/defs/schema.h#L533) to allow dynamically register domain.

A related question: why do we need to hardcode min&max version for each domain in `DomainToVersionRange`? I think we can instead programmatically figure out these versions in the registry?

[2018-04-04 02:42] fumihwh commented on #703
`given inputs types, the outputs types are determined`
I get it. Thanks.

[2018-04-04 02:43] #703 closed

[2018-04-04 02:46] bddppq commented on #685
@daniel-j-h Could you put it into gdb and get a stack trace? That would be helpful for us to debug.

[2018-04-04 07:44] #698 closed

[2018-04-04 10:07] StuvX commented on #683
I get the same error when importing onnx in a script.

[2018-04-04 17:07] houseroad commented on #146
@tqchen yes, I think align the specification will several benefits. We will discuss this in next ONNX workshop.

[2018-04-04 17:13] pjh5 commented on #687
What operating system is this? What are the names, versions, and channels of the onnx and Caffe2 conda packages that you installed?

In about an hour some new Caffe2 packages will be uploaded that do not require protobuf from conda, but the name of the package might depend on your os.

[2018-04-04 17:27] raymondxyang opened #708 "CMake setup fail on local dev build"
See error from cmake when build using `pip install -e .` . Looking into it now

[code]

[2018-04-04 20:14] raymondxyang commented on #708
Fixed

[2018-04-04 20:14] #708 closed

[2018-04-05 00:29] houseroad opened #715 "Verifying the node test data in CI"
We should verify the node test data using cmd_tools.py.

[2018-04-05 20:42] pk-g opened #723 "Installation from source fails due to missing cmake exectuable"
My recent installation attempts from source keeps failing with following error

"AssertionError: Could not find "cmake" executable!
 Command "python setup.py egg_info" failed with error code 1"

Is this a known issue?

[2018-04-05 20:52] duli2012 opened #724 "Gemm inputs of Inception v1/v2 inconsistent with ONNX spec"
In ONNX tests [Inception v1](https://github.com/onnx/onnx/blob/5716e2076b445b6c5bd017aaadc05d59ac43bdc3/onnx/backend/test/data/real/test_inception_v1) and [Inception v2](https://github.com/onnx/onnx/blob/5716e2076b445b6c5bd017aaadc05d59ac43bdc3/onnx/backend/test/data/real/test_inception_v2), the first input to GEMM op has 4 dimensions while the [ONNX spec](https://github.com/onnx/onnx/blob/master/

[2018-04-05 21:30] houseroad commented on #723
@bddppq Shall we add `cmake` in https://github.com/onnx/onnx/blob/master/setup.py#L252

[2018-04-05 21:44] bddppq commented on #723
cmake is a system package, not a python package, so adding it to setup.py doesn't work.
It is a required dependency for building onnx now, so we should add it to our README.

[2018-04-05 21:48] pk-g commented on #723
Thanks guys, updating the README sounds great.

[2018-04-05 22:00] #723 closed

[2018-04-05 22:26] houseroad commented on #724
Looks like in inception v2, the op before gemm is an average pool, which will generate a 4d tensor. indeed we should regenerate the model.

[2018-04-06 03:58] jekbradbury commented on #685
I'm getting a segfault on `import onnx` (from the latest conda version, installed with `conda install -c conda-forge onnx`), both on a bare-metal 16.04 machine and inside Docker:
[code]

[2018-04-06 08:51] daniel-j-h commented on #685
Sure, here's the small self-contained reproducible test-case:

[code]

And in GDB:

[code]

Backtrace:

[code]

Hope that helps.

[2018-04-06 17:41] bddppq commented on #685
Are you able to run onnx tests?

[2018-04-06 21:05] daniel-j-h commented on #685
I didn't check - I'm using the package on pip. But so far it seems to work except for the segfault reported above. By the way you can also reproduce this e.g. running a very small Ubuntu 16.04 Docker image.

[2018-04-06 22:39] duli2012 commented on #724
Thanks for quick response, @houseroad !
Now, both inception v1 and v2 work. However, bvlc_alexnet has the same issue as well. Could you please take a look?

[2018-04-06 22:44] houseroad commented on #724
All models should not have the problem any more, just updated :-)

Please try https://s3.amazonaws.com/download.onnx/models/opset_6/bvlc_alexnet.tar.gz

[2018-04-07 00:29] snnn opened #732 "Test case "BatchNorm1d_3d_input_eval" is wrong"
Test case "BatchNorm1d_3d_input_eval" is converted from pytorch. This is designed for PyTorch's  BatchNorm1d OP, which take a 2D or 3D tensor as input.
However, BatchNorm OP in onnx only accepts 4-D input.

[2018-04-07 06:01] houseroad commented on #732
We will fix the spec here: https://github.com/onnx/onnx/pull/733/files

[2018-04-08 13:56] kuke opened #734 "There is a bug in run_model()"
When using run_model() to execute my own ONNX model, I got an error
[code]

Seems that [onnx/models/#4](https://github.com/onnx/models/issues/4) has not been fixed yet, and @bddppq  could you please help to check this problem again?

[2018-04-09 10:53] newling opened #735 "in Slice, is `axis` required to be sorted?"
For Operator Slice, must `axis` be sorted? My guess is "yes", but it's not stated in the spec.

[2018-04-09 13:48] LucasMahieu commented on #724
Same as : https://github.com/onnx/onnx/issues/405
Thanks

[2018-04-09 13:49] LucasMahieu commented on #405
seems to be addressed here : https://github.com/onnx/onnx/issues/724

[2018-04-09 14:05] fumihwh commented on #734
I guess you are not using any implement of Backend.
I suggest you could check https://github.com/onnx/onnx/blob/master/docs/ImplementingAnOnnxBackend.md

[2018-04-09 14:29] fumihwh commented on #715
@houseroad
It's a little bit hard to do this without constraint fields which are not in descriptor currently. (current is string, something like
![image](https://user-images.githubusercontent.com/6838753/38503510-38efc3e6-3c4d-11e8-82d0-eb23099a8147.png)
)
I know output's type should as same as input's mostly.
But how about [Argmax](https://github.com/onnx/onnx/blob/master/docs/Operators.md#argmax

[2018-04-09 16:47] houseroad commented on #405
@LucasMahieu could you try Please try https://s3.amazonaws.com/download.onnx/models/opset_6/bvlc_alexnet.tar.gz?

If you still have the problem, please let me know.

[2018-04-09 16:56] houseroad commented on #735
No, usually backend will sort them.

[2018-04-09 19:11] houseroad commented on #715
In every PR, the CI should automatically run the cmd_tools.py to generate the testing data for node test. Ideally, they should be exact the same as the data generated on users' machine. However, cmd_tools.py may generate slightly different results in different environment, due to different versions of numpy, different versions of python, etc... So we cannot blindly compare them bytes by bytes.

Th

[2018-04-09 21:29] anderspapitto opened #736 "We need to be able to distinguish "no shape information" from "scalar""
Currently, we have (with some bits cut out)

[code]

In theory, we can represent "no shape information" by having `has_shape()` be false, and we can represent "scalar" as "`has_shape()` is true, and `dim_size()` is zero".

However, the C++ protobuf api doesn't distinguish between these two cases (it can be done in python, for example see https://gist.github.com/anderspapitto/f772b697ced651ff3aefba

[2018-04-09 22:13] jeffreyksmithjr opened #737 "Awesome list"
ONNX needs an [awesome list](https://github.com/sindresorhus/awesome). All that exists now is a short list of [tools](https://github.com/onnx/onnx#tools), but the real list is already a bit longer.

MXNet already has [one](https://github.com/chinakook/Awesome-MXNet) (with some ONNX stuff on it).

[2018-04-09 22:39] snnn commented on #732
Close as #733 is merged.

[2018-04-09 22:39] #732 closed

[2018-04-09 22:56] dzhulgakov commented on #736
Hm, are you sure C++ doesn't distinguish? There's `has_shape` in the API:

[code]

[2018-04-10 01:51] #724 closed

[2018-04-10 01:53] bddppq commented on #736
per offline discussion, c++ `has_shape` can be used to distinguish these two cases.

[2018-04-10 01:53] #736 closed

[2018-04-10 01:56] #734 closed

[2018-04-10 02:04] kuke commented on #734
@fumihwh Thanks! Yeah, I tend to caffe2 Backend and succeeded to run the model. But why don't ONNX implements the runnable backend for itself.

[2018-04-10 12:36] stgrue opened #740 "Statically unknown sizes of dimensions"
Hi,

according to the ONNX specification, it is possible for a model to have inputs with dimensions whose size is statically unknown:

Unfortunately, I wasn't able to find any more information about these "symbolic identifiers". Is there any information available on how to use them?

More specifically, I have a tensor – resulting from a PyTorch export – that is supposed to serve as the input for a

[2018-04-10 22:13] bddppq commented on #740
For unknown shape, use [dim_param](https://github.com/onnx/onnx/blob/3e560dd7cb76006c15591c9180eedfd8d4c68587/onnx/onnx.proto#L381).

[2018-04-11 10:02] wesleyw72 opened #745 "Undefined Symbol"
I'm trying to build ONNX, I have tried several times.
I have a Conda distribution, Python 3. I have installed protobuf using Conda (no system protobuf installed).
OS: Ubuntu 16.04
ONNX builds fine, but when I try to import it I get the following:

`>>> import onnx
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/ww/anaconda3/lib/python3.6/site-packages/onnx-1.

[2018-04-11 10:44] wesleyw72 commented on #745
Just tried this on a freshly built machine with Ubuntu 16.04, following the instructions in this repo. I had the same problem again.

[2018-04-11 17:03] NiklasGustafsson opened #746 "Spec clarity: Versioning -- 64 bits vs 32 bits."
In all the places where version numbers are used in the protobuf specification, they are represented using 64 bits.

However, the 'Versioning.md' document unambiguously states that version numbers are packed in 32 bits:

``
For efficiency, ONNX serializes the MAJOR, MINOR, and PATCH values as a bit-packed 32-bit integer; the most significant byte is the MAJOR component, the second most significant

[2018-04-11 17:05] linkerzhang commented on #746
vote for 2.

[2018-04-11 17:38] NiklasGustafsson opened #747 "Spec clarity: Semantic versioning vs. simple incremented numbers"
Reading the document 'Versioning.md,' one is generally left with the impression that ONNX expects version numbers to follow the conventions of semantic versioning, and the text describes best practices in some detail.

For IR and model versions, it explicitly mentions semantic versioning conventions, but remains silent for operator sets. In fact, the 'prose' example of writing operator ids suggest

[2018-04-11 18:03] Adeykin opened #748 "RuntimeError: ONNX export failed: Could not export a broadcasted operation; ONNX likely does not support this form of broadcasting"
I'm trying to converst with onnx simple pytorch model:

[code]

Convertation:
[code]

In pytorch this this model is represented **expand** operation:
[code]

So onnx cant export 'expand' operation:
`RuntimeError: ONNX export failed: Couldn't export operator expand; this usually means you used a form of broadcasting that ONNX does not currently support`

[2018-04-11 23:30] houseroad commented on #745
looks like it's a protobuf lib issue. Could you make sure that you only install one version of protobuf. Either system one or conda one.

[2018-04-12 06:14] wesleyw72 commented on #745
@houseroad I tried it with only the conda version installed and it did not work.

[2018-04-12 07:37] newling opened #749 "auto_pad formula (MaxPool)"
From the documentation for MaxPool:

[code]

surely this should be
[code]

as when stride is  1, output and input shapes are the same.

[2018-04-12 08:21] newling opened #750 "LRN definition clarification"
Please confirm for LRN:
Normalization is pixelwise across channels ( as per Tensorflow ) and is not within-channel in spatial rectangle. That is, it is like Caffe LRN with ACROSS_CHANNELS = 1.
The onnx info for LRN is  https://github.com/onnx/onnx/blob/master/docs/Operators.md#LRN

[2018-04-12 10:56] fumihwh commented on #749
@newling
nice catch~~~thanks~
I will fix it.

[2018-04-12 15:14] newling opened #752 "How to make backend tests"
I am encountering issues generating backend Operator tests.

[code]
gives
[code]
ipython with
[code]
gives
[code]

The info at https://github.com/onnx/onnx/blob/master/docs/OnnxBackendTest.md
seems old (generates node.pb not model.onnx) and assumes onnx is installed .

Can a detailed description of how the model.onnx files,
[code]
are generated please be provided (I can provide new tests if so ;))

[2018-04-12 16:53] Adeykin commented on #748
In '0.4.0a0+d45f3d0' its fixed

[2018-04-12 16:53] #748 closed

[2018-04-12 17:32] houseroad commented on #752
`python onnx/backend/test/cmd_tools.py generate-data` works for me.

I will add more details about in the markdown file.

[2018-04-12 17:35] houseroad commented on #696
@linkerzhang @bddppq
I vote for deterministic initialization order. This is quite important. Without it, we may have unexpected errors when using different compilers.

[2018-04-12 18:13] newling commented on #752
I'm up and running. I had some weird issues with the way I was building (wasn't using setup.py, now I am).

Thanks!
James

[2018-04-12 18:13] #752 closed

[2018-04-13 00:42] raymondxyang opened #754 "Python schema API not take domain attributes"
Find the python `has_schema` and `get_shcema` api was not implemented consistently with the backend implementation. Fixing this to support ONNX-ML.

+ @linkerzhang

[2018-04-13 04:37] inflation commented on #141
The `HardTanh` is pretty annoying since `ReLU6` uses it.

[2018-04-13 09:09] newling commented on #750
Moreover, assuming it's ACROSS_CHANNELS = 1, how exactly is the local region defined? Is it the same as in tensorflow https://github.com/tensorflow/tensorflow/blob/e489b600f388ae345387881a85368af3cd373ba2/tensorflow/compiler/tf2xla/kernels/lrn_ops.cc#L44

[2018-04-13 12:01] newling commented on #749
Thanks!

[2018-04-13 12:07] newling opened #756 "auto_pad in conv with stride != 1 not specified"
The spec for Conv
https://github.com/onnx/onnx/blob/master/docs/Operators.md#Conv
does not specify what to do when stride is greater than 1.
Should it behave the same as MaxPool
https://github.com/onnx/onnx/blob/master/docs/Operators.md#MaxPool
where stride == 2 => output size is floor((input size)/2) ?

Would be good to describe this, for completeness sake.

[2018-04-13 12:55] stgrue commented on #740
This works perfectly, thank you for your help!

As a follow-up question: Right now, I use `"?"` as the value for `dim_param`, but that seems rather arbitrary. Is there any convention on which value to specify for `dim_param`?

[2018-04-16 02:36] houseroad commented on #749
Fixed

[2018-04-16 02:36] #749 closed

[2018-04-16 09:27] newling opened #761 "For Gemm operator, are all attributes compulsory?"
I'm running the resnet-50 model from
https://github.com/onnx/models/tree/master/resnet50
and the only attributes set are `transB` and `broadcast`.

However the spec does not mention default values.

Thanks for clarifying.

[2018-04-16 14:18] franchenstein opened #762 "Problems installing ONNX 1.1.0"
I am trying to install ONNX 1.1.0 to try out the tensorflow 2 onnx converter but I am having trouble with that. I tried to install both on Linux (Ubuntu) and Windows 10.

On Linux I basically get an error while running the setup.py saying that the protobuf headers were compiled for a previous version, incompatible with protoc. I get this even after purging protobuf and installing its latest versio

[2018-04-17 02:10] fumihwh opened #766 "Is it lack of one param of get_schema in onnx_cpp2py_export.defs.pyi"
onnx_cpp2py_export.defs.pyi
`def get_schema(op_type: Text) -> OpSchema: ...`

onnx_cpp2py_export.cc
[code]
Should we add maxInclusiveVersion into onnx_cpp2py_export.defs.pyi?

[2018-04-17 02:26] bddppq commented on #761
Yeah all attributes of Gemm have default values: https://github.com/onnx/onnx/blob/c9f825fc68b96b6a8c8895f4f2102f8630f75bf0/onnx/defs/math/defs.cc#L563
In the doc, required attributes have been annotated with `(required)`, those don't have this tag are optional. It would be more ideal to beef up the doc to also render the default values.

[2018-04-17 05:08] MaheshRavishankar opened #767 "import onnx segfaults with python 2.7 and python 3.6 on Ubuntu 16.04"
I am trying to install ONNX as desribed in the installation page. These are the steps I followed

[code]

(similar process for python 2.7). I get a segfault when i do

[code]

[onnx_py27.log](https://github.com/onnx/onnx/files/1918190/onnx_py27.log)
[onnx_py36.log](https://github.com/onnx/onnx/files/1918191/onnx_py36.log)
[onnx_py27.log](https://github.com/onnx/onnx/files/1918192/onnx_py27.log)

I

[2018-04-17 06:12] newling commented on #761
Ok, got it. Yes, I guess it'd be good if the defaults could be generated in gen_doc.py too.

[2018-04-17 06:12] #761 closed

[2018-04-17 06:41] franchenstein commented on #762
The tf2onnx converter (https://github.com/onnx/tensorflow-onnx) specifically requires 1.1.0. The setup script even tries to downgrade to 1.1.0 when I already have 1.1.1 installed

[2018-04-17 06:50] bddppq commented on #762
@franchenstein Our v1.1.0 source distribution was released incorrectly (that it has bundled the protobuf 3.4 generated header files). To unblock you, please downgrade your protobuf to 3.4.
@anirudhacharya We need to take down the v1.1.0 source distribution from pypi.
@linkerzhang @guschmue @raymondxyang The v.1.1.0 release is considered invalid, please update tensorflow-onnx to use newer release.

[2018-04-17 10:24] newling opened #768 "Output tensor type for size op (in node/test_size)"
Hi --
There seems to be an issue with the exact type of output TensorProtos in at least one node test. Signed vs unsigned.

in directory node/test_size/test_data_set_0:

[code]
At this point `new_tensor.data_type` is 7. Looking in onnx.pb.h I see,
[code]
(aside : is there a function to get a string like `"signed long"` from an enum type in Python ONNX API)?

However the Size Operator spec specifie

[2018-04-17 17:15] linkerzhang opened #769 "Change the name of shape inference function into shape&type inference function"
Per current type constraint, it's still hard to do the type inference. It's only doable when inputs/outputs refer to same type key "T" for example. If there're multiple keys, no way to do good type inference for outputs' types per inputs' types.

[2018-04-17 17:17] linkerzhang commented on #766
please also refer to https://github.com/onnx/onnx/pull/764 to ensure domain is added.

[2018-04-17 17:30] linkerzhang commented on #696
Let's use this issue to track this work item to get rid of using static variables to initialize the op schema map.

[2018-04-17 17:40] bddppq commented on #696
@linkerzhang sorry I don't get why we need get rid of static variables?

[2018-04-17 17:41] bddppq commented on #696
@houseroad what's the error you are referring to?

[2018-04-17 17:45] bddppq commented on #769
I believe the shape inference is already doing type inference together.
@anderspapitto

[2018-04-17 18:39] houseroad commented on #768
Refer to the newest version of our doc, Size's output is INT64.
https://github.com/onnx/onnx/blob/master/docs/Operators.md#size

I have manually checked the output. They are good, which is INT64.

More details please check onnx/mapping.py I will add more explanation in the doc, too.

Thanks for reporting this.

[2018-04-17 19:13] linkerzhang commented on #769
Yep. It's a benefit from we having shape located in type :). The InferenceContext API does support doing type inference. Then we may change the name a little bit to reflect it. ShapeInferenceFunction --> TypeAndShapeInferenceFunction ?

[2018-04-17 19:33] anderspapitto commented on #769
yes i can change the name

[2018-04-17 21:02] houseroad commented on #768
Actually, we should have used int64 in the spec, however, there was a typo. The test data is right since the very beginning. Sorry for the inconsistence. For any input/output related to index/size in onnx, we decide to use int64, this won't change any more.

[2018-04-17 22:53] #768 closed

[2018-04-18 00:15] snnn opened #773 "Please update all the pytorch-converted test data to opset version 6"
There are still some models in older version. For example, onnx\backend\test\data\pytorch-converted\test_PReLU_1d\model.onnx is in version 2.

[2018-04-18 00:44] houseroad commented on #773
Yes, sir!

[2018-04-18 19:30] houseroad commented on #696
@linkerzhang I have synced with @anderspapitto and @bddppq offline. We would like to make sure the initialization order, and at the same, also please keep the interface user-friendly.

[2018-04-18 19:44] bddppq commented on #696
@houseroad  @linkerzhang  Sorry why do we need to make sure the order of the schemas registration?

[2018-04-18 19:51] guschmue commented on #762
updated tensorflow-onnx ...

[2018-04-18 20:19] linkerzhang commented on #773
Thank you very much! @houseroad

[2018-04-18 20:26] houseroad commented on #696
What I can think of is that at the compile time we can make sure all the schemas are registered in the right order. So when register some different ops (at compilation time), we can have some legit assumption.

On the other hand, because schema is so important, little change may break a lot of things, @linkerzhang I think @bddppq's concern makes sense. We don't want to go too far and introduce unn

[2018-04-18 20:34] linkerzhang commented on #696
Great! Let me see whether I may come out of a solution of not impacting the current API (or at least not big change) as well as supporting non-static registration.

[2018-04-18 21:48] wschin opened #778 "Install from sourec failed with Anaconda3 on Windows"
I am trying to install onnx from its source via

`pip install -e onnx`

but got the following error.

    LINK : fatal error LNK1104: cannot open file 'python36.lib' [D:\onnx\.setuptools-cmake-build\onnx_cpp2py_export.vcxproj]
    Done Building Project "D:\onnx\.setuptools-cmake-build\onnx_cpp2py_export.vcxproj" (default targets) -- FAILED.
    Done Building Project "D:\onnx\.setuptools-cmake-buil

[2018-04-18 22:24] wschin commented on #778
By changing ${PY_VERSION}$ in onnx/CMakeLists.txt, I am able to build onnx finally.

Before:
  if(MSVC)
    find_package(PythonInterp ${PY_VERSION}$ REQUIRED)
    find_package(PythonLibs ${PY_VERSION}$ REQUIRED)
    target_link_libraries(onnx_cpp2py_export PRIVATE ${PYTHON_LIBRARIES})

After
  if(MSVC)
    find_package(PythonInterp REQUIRED)
    find_package(PythonLibs 3.6 REQUIRED)
    target_lin

[2018-04-19 00:11] #762 closed

[2018-04-19 00:14] raymondxyang commented on #778
@bddppq I found removing the py_version for find_package(PythonInterp ...) help too in some previous cases. Can you help look into the root cause for it?

[2018-04-19 00:26] bddppq commented on #778
In general cmake's find python is pretty messed up (especially finding python lib, but to be fair python needs to share the blame because there is no way to programmatically find libpython), and so it's better to try remove find python in cmake all together. The only reason we still do find python in cmake right now is we couldn't find a way to not link with libpython in windows build (we already

[2018-04-19 00:30] bddppq commented on #778
See whether we can get rid of cmake's find python #780

[2018-04-19 00:32] raymondxyang commented on #778
Well as far as I tested locally we cant.. I ll do some research to see if there is alternative methods..

[2018-04-19 00:36] bddppq commented on #778
@raymondxyang what's the error messages?

[2018-04-19 00:40] raymondxyang commented on #778
LINK : fatal error LNK1104: cannot open file 'python36.lib' [C:\xxxxx\onnx\.setuptools-cmake-build\onnx_cpp2py_export.vcxproj]

[2018-04-19 02:59] bddppq commented on #778
@raymondxyang I'm quite curious what makes cmake looking for python36.lib :-)

[2018-04-19 19:01] anderspapitto opened #785 "the `kernel_shape` parameter to Conv is redundant"
Rather than provide kernel_shape as an argument to Conv, one can simply provide a ValueInfoProto for the W input (with dimensions M and C left blank if they are unknown).

I propose to deprecate/remove kernel_shape from Conv.

[2018-04-20 11:26] qzhong0605 opened #790 "Failure on converting from onnx model to caffe2 model"
I following the `onnx` tutorials to import models from `ONNX` to `Caffe2`[https://github.com/onnx/tutorials/blob/master/tutorials/OnnxCaffe2Import.ipynb](url). But I can't success to do that.
The error message is the following:

     40                   'fuse_transpose_into_gemm']
     41     if not isinstance(model, ModelProto):
---> 42         raise ValueError('Optimizer only accepts ModelProto

[2018-04-20 11:41] qzhong0605 commented on #790
`jajdjdjdjdjdjdj
jdjjdjajj
ajdjjd`

[2018-04-20 17:42] bddppq commented on #740
There is no well defined convention yet, but I would encourage you to use some normal variable name.
Besides, marking them all as `?` is not ok because our shape inference actually treat params with same name as the same variable. If you want to represent "unknown", then just leave `shape` in the ValueInfoProto unset.

[2018-04-20 17:44] snnn opened #792 "test_operator_transpose\model.onnx is empty?"
test code:
[code]

test data:
onnx\onnx\backend\test\data\pytorch-operator\test_operator_transpose\model.onnx

output:
[code]

[2018-04-20 17:47] snnn opened #793 ""check-model" should check if the graph's every output is valid"
If some output isn't an output of any node, check-model should discover that and report an error.

[2018-04-20 17:47] snnn commented on #773
Thank you @houseroad

[2018-04-20 17:50] houseroad commented on #773
there are 4 cases not updated. I am investigating the reasons.

[2018-04-20 17:52] bddppq commented on #790
This is a recent change in the optimizer api that changed to take ModelProto instead of serialized bytes as input (same for output). Corresponding update to caffe2 has been made here https://github.com/pytorch/pytorch/commit/aab0bd3c132892d27851a6411910e17917b031b9, please install caffe2 from our github master again to include this new change (just in case you are not aware, [caffe2 and pytorch re

[2018-04-20 20:40] linkerzhang commented on #740
I think what @bddppq  suggested here is for the dimension with unknown size, keep it not set so that its value_case should be TensorShapeProto_Dimension::VALUE_NOT_SET.

[2018-04-20 20:59] houseroad commented on #792
The real model is:

[code]

Because the original test case (transpose (0, 1) + transpose (1, 0)) has been optimized, so there is no op left. But the model itself is valid and correct.

[2018-04-20 21:01] houseroad commented on #793
You mean some output is never initialized, (neither in initializer nor generated by any operator)?

Do you mind to provide any test case to reproduce the problem?

[2018-04-20 21:26] bddppq commented on #740
@linkerzhang No, not set to NOT_SET, I meant don't set it. See here: https://github.com/onnx/onnx/issues/736

[2018-04-20 21:28] bddppq commented on #792
@houseroad I think this is pretty weird to have an empty model (especially it's meant to test Transpose). Can this test case to be changed to do transpose(s) that are not identical to nop?

[2018-04-20 21:30] houseroad commented on #792
@bddppq as you wish :-)

[2018-04-20 21:30] houseroad commented on #773
It's done

[2018-04-20 21:30] #773 closed

[2018-04-20 21:39] snnn commented on #793
See https://github.com/onnx/onnx/issues/792

I don't think it's a valid model. Because every output must come from a node.

[2018-04-20 21:41] houseroad commented on #793
As long as it is defined, it should be fine... In that case, it is defined by the input.

[2018-04-20 22:36] BenPYeh opened #796 "Is dilated convolution supported?"
I am converting a model from Caffe to CNTK, then from CNTK to ONNX. The Caffe model includes a dilated convolution, which is not supported on CNTK yet (at least not CPU). Is it supported by ONNX? Because the ONNX model I have won't load and I am wondering if it is due to this operation.

[2018-04-20 23:28] houseroad commented on #796
Yes, it is supported by ONNX, which means the onnx model can contain dilated convolution operator. However, different backends provide different operator/attribute coverage, which means your onnx model may not be supported by some backend. Ideally, each backend should support all the operators.

[2018-04-21 01:38] qzhong0605 commented on #790
Thanks. I learned that `caffe2` and `pytorch` repos had merged together now.  But I don't aware that the optimizier api has also changed.
Thank your reply!

[2018-04-21 02:28] #790 closed

[2018-04-21 04:31] Aakash456 opened #800 "Python"
One of the issues I have come across is that in python, arguments are initialized when function is defined not during each execution leading to issue in case argument is mutable e.x. list or dictionary. In that case it behaves like a static variable existing over all call to that function.

...   counter[0] += 1
...   print("Counter is %i." % counter[0]);
...

Counter is 1.

Counter is 2.

[2018-04-21 04:42] bddppq commented on #800
Feel free to reopen if you have found mutable default args in onnx (and please point out the specific places). Thanks

[2018-04-21 04:42] #800 closed

[2018-04-23 07:29] fumihwh opened #805 "attr value of ConstantFill should be required or has default value"
As title, I think attr `value` of ConstantFill should be required or has default value.
I found this problem in `test_operator_lstm`'s model.onnx, it has ConstantFill node with attrs {'input_as_shape': 1}.
How could I fill output without value provided?

[2018-04-23 13:54] VincentLin78 opened #806 "Got ERRORS in pytest"
Just install ONNX from source and run pytest.

==================================== ERRORS ====================================
__________ ERROR collecting onnx/test/backend_shape_inference_test.py __________
ImportError while importing test module '/Users/mingchelin/GitHub/onnx/onnx/test/backend_shape_inference_test.py'.
Hint: make sure your test modules/packages have valid Python names.
Tracebac

[2018-04-23 22:29] kit1980 opened #807 "pip install on Windows issues"
I'm trying to install from source according to https://github.com/onnx/onnx/blob/master/docs/CONTRIBUTING.md

I'm using Windows 10 and Visual Studio 2017 with Visual C++ tools for CMake installed.

The first issue I had was
[code]

The next problem was nmake doesn't support maxcpucount parameter.
[code]

These are the changes to setup.py that allowed me to proceed:
[code]

After these changes it c

[2018-04-23 22:33] houseroad commented on #807
@raymondxyang could you take a look?

[2018-04-23 22:58] raymondxyang commented on #807
Hi thanks for reporting and helping solving the problems first. The current blocking problem is that pybind11 used in onnx_cpp2py_export project cannot take debug static library. That why the protobuf lib should be build with /MT instead of /MTd. We would suggest 1. Get protobuf from Conda 2. Build protobuf (2.6.1) from source with configuration /MT explicitly. Hopefully this can solve your issue.

[2018-04-23 23:03] houseroad commented on #805
Good catch, the default value is 0.

Thanks!

[2018-04-24 00:34] kit1980 commented on #807
@raymondxyang, thanks for looking.
I'm confused about your suggestion "1. Get protobuf from Conda".
I'm already using protobuf from conda (installed via `conda install -c conda-forge protobuf`:     libprotobuf: 3.5.2-vc14_0 and protobuf:    3.5.2-py36_vc14_0).
Am I missing something?

[2018-04-24 00:43] raymondxyang commented on #807
Sorry for the mistake. The protobuf is good actually, with 'MT' configuration. Looks like what is not correct is the configuration for the cpp2py_export project. Can you manually set it in Visual Studio project properties to /MT instead of /MTd? It should be set to MT by default. I ll double check it later.

[2018-04-24 00:59] ebarsoum commented on #796
What the error? Are you trying to load ONNX model in CNTK?

[2018-04-24 01:31] BenPYeh commented on #796
@ebarsoum yes I was. The model I was trying to run had a dilated convolution which isn't supported on the cpu in cntk yet so I guess that's why I was getting the error.

[2018-04-24 01:58] kit1980 commented on #807
I've found the issue.
Checking for empty CMAKE_BUILD_TYPE must be done before project(), otherwise it will be already set to Debug. So the build was Debug by default, despite the "defaulting to Release" intent.

[2018-04-24 02:51] kit1980 commented on #807
#812

[2018-04-24 03:56] houseroad commented on #796
@BenPYeh I think it is not an ONNX issue. Probably you should open an issue in CNTK.

[2018-04-24 13:02] kirualex commented on #748
Could you be more precise on how to fix this issue @Adeykin ? Your responses doesn't link to anything...

[2018-04-24 17:02] snnn opened #813 "onnx/onnx/backend/test/case/node/gather.py has different behavior on Windows and Linux"
indices is 32 bits on windows but 64 bits on Linux

https://stackoverflow.com/questions/36278590/numpy-array-dtype-is-coming-as-int32-by-default-in-a-windows-10-64-bit-machine

[2018-04-24 17:24] skottmckay opened #814 "pytorch-converted/test_softmax_lastdim has test with negative axis"
https://github.com/onnx/onnx/tree/master/onnx/backend/test/data/pytorch-converted/test_softmax_lastdim has a test with a negative axis as input.

The ONNX spec does not say whether a negative axis is allowed or not. https://github.com/onnx/onnx/blob/master/docs/Operators.md#Softmax

Should the spec be clarified or the test changed?

[2018-04-24 17:27] houseroad commented on #814
Actually, this is a good topic for discussion. If we don't support negative axis, it's probably hard for us to specify the last dimension conveniently.

[2018-04-24 17:45] houseroad commented on #813
Yes, this code is not clear enough. Made it clear in https://github.com/onnx/onnx/pull/815

[2018-04-24 17:50] snnn opened #816 "test data test_operator_selu is wrong"
<onnx root>\onnx\backend\test\data\pytorch-operator\test_operator_selu contains the model for selu, attribute default values are: alpha = 1.6732f, and gamma = 1.0507f. I found pytorch uses a different default value for selu with alpha = 1.6732632423543772848170429916717 and gamma = 1.0507009873554804934193349852946.

pytorch saved the node with default attribute, not the actual one it used in comp

[2018-04-24 19:37] snnn opened #819 "onnx/backend/test/case/node/pow.py: y should be a scalar"
In the unitest of pow_broadcast
[code]

x has shape of [3] ,y has shape of [1], which should be []. Scalars should have shape of [] instead of [1].

[2018-04-25 00:23] houseroad opened #822 "Show the default values of the attributes in the Operators.md"
Right now, we have to manually add it to the doc.

[2018-04-25 10:54] SimiPro opened #824 "Loss functions in ONNX"
Is there any plan to support loss functions in the future?

[2018-04-25 13:48] yehenrytian opened #825 "What if the "permutation" is not a static attribute?"
https://github.com/onnx/onnx/blob/15289e3d77a9014f70c413c757a5805261dd94ec/onnx/optimizer/passes/eliminate_nop_transpose.h#L15

In ONNX, you define the permutation as an attribute with a constant value of the "Transpose" Op, but what if the permutation is a tensor that comes in as a parameter (like in TensorFlow), then at static compile time, how can we perform this optimization check? Thanks!

[2018-04-25 18:49] snnn opened #826 "OptimizePass: declaration of 'name' hides class member"
onnx\onnx\optimizer\passes\optimize_pass.h(31): warning C4458: declaration of 'name' hides class member (compiling source file C:\src\Lotus\external\onnx\onnx\optimizer\optimize.cc)
onnx\onnx\optimizer\passes\optimize_pass.h(19): note: see declaration of 'ONNX_NAMESPACE::optimization::OptimizePass::name' (compiling source file C:\src\Lotus\external\onnx\onnx\optimizer\optimize.cc)

Introduced in c

[2018-04-25 18:55] snnn opened #827 "ONNX_OPERATOR_SCHEMA(Split) should check if axis is negative"
ONNX_OPERATOR_SCHEMA(Split) should check if axis is negative before calling "ctx.getInputType(0)->tensor_type().shape().dim(axis);"

[code]

Otherwise, it may access wrong memory location.

[2018-04-25 19:59] houseroad commented on #827
There are two different issues:
1) Whether we should support negative axis, (open question)
2) The shape inference should check the attributes before using them.

[2018-04-25 20:13] ebarsoum commented on #824
There is a work track to add training support to ONNX, which will probably cover loss function. However, even withoout loss function, you should be able to implement them using ONNX primitive.

[2018-04-25 20:38] snnn commented on #827
For question one, onnx have such things in the pytorch converted test data.

[2018-04-26 05:36] SimiPro commented on #824
Yes of course. This is exactly what we've done. <br>
Is this work track visible anywhere online ?

[2018-04-26 05:57] linkerzhang commented on #824
Training
Leader: Sukwon Kim sukwokim@amazon.com
Discussion: Training Gitter Room
The goal of the group is to explore the possibility of expanding ONNX to support training as well as inference.

[2018-04-26 07:35] SimiPro commented on #824
thanks!

[2018-04-26 07:35] #824 closed

[2018-04-26 16:18] akifkamal opened #833 "ONNX requires topologically sorted graph but it is not mandatory for tensorflow."

[2018-04-26 16:25] akifkamal commented on #833
Sorry, I posted in the wrong repo. Issue is with onnx-tensorflow. Please close this issue.

[2018-04-26 17:52] #833 closed

[2018-04-26 20:27] linkerzhang commented on #816
@houseroad ,

[2018-04-26 20:46] linkerzhang commented on #814
@houseroad , we may use symbolic dimension in this case, right? using negative value is confusing somehow given we have symbolic support in onnx.

[2018-04-26 20:48] linkerzhang commented on #792
so this model is removed now?

[2018-04-26 20:50] linkerzhang commented on #769
this is done.

[2018-04-26 20:50] #769 closed

[2018-04-26 21:21] kit1980 opened #835 "pytest error "No Schema registered for Abs with domain_version of 6""
After successful installation from source on Windows (with `pip install -e onnx`), I'm trying to run the tests but getting "No Schema registered for Abs with domain_version of 6" error. Am I missing something?

[code]

[2018-04-26 21:25] houseroad commented on #816
I have done some research, all the implementations using alpha = 1.6732632423543772848170429916717 and gamma = 1.0507009873554804934193349852946 as default values. If we use float, the decimal precision is 7, for double, it's 16. Apparently, the default values in our current spec are not precise enough (which is 4 now), I prefer to change our spec.

[2018-04-26 21:27] houseroad commented on #816
More reference:

The original authors' implementation, Tensorflow (Keras), PyTorch, Caffe2, and even CNTK use the same default values.

[2018-04-26 21:36] houseroad commented on #814
@linkerzhang I didn't follow. Could you explain how to use symbolic to solve this case (expressing the last dimension in axis) ?

[2018-04-26 21:38] snnn commented on #792
And also test_operator_type_as

[2018-04-26 21:38] houseroad commented on #792
I will update them later. But I think they are legal, just it does not make sense for test purpose.

[2018-04-26 21:42] houseroad commented on #835
because the opset_import version 6, but the pypi's version is still 4. You need to uninstall your onnx package and reinstall it from source.

[2018-04-26 21:44] gramalingam commented on #814
@houseroad , so a negative axis k corresponds to an axis of "rank+k", is that right? So, "-1" corresponds to the last dimension?

[2018-04-26 21:50] houseroad commented on #814
@gramalingam Yes, it works like python negative index.

[2018-04-26 22:09] kit1980 commented on #835
Must be something else, doesn't look I have any other version installed:

[code]

[2018-04-26 22:54] houseroad commented on #835
could you uninstall your onnx, and try
`pip install -e ./onnx` in `c:\>repo`

[2018-04-26 23:04] kit1980 commented on #835
Did the same as in my previous comment (uninstalling and making sure onnx can't be imported) with `pip install -e ./onnx` instead of `pip install -e onnx` - no difference.

I don't thinks it's a version problem: I don't have any schemas:

[code]

[2018-04-26 23:05] kit1980 commented on #835
In [4]: onnx.defs.onnx_opset_version()
Out[4]: 6

[2018-04-26 23:06] houseroad commented on #835
change the current folder to c:\?

[2018-04-26 23:08] kit1980 commented on #835
[code]

[2018-04-27 00:09] snnn opened #837 ""test_Softsign" should contain only 1 OP"
onnx\backend\test\data\pytorch-converted\test_Softsign\model.onnx

Now it is a mix of: Abs/Constant/Add/Div

[2018-04-27 00:35] jamesr66a opened #838 "Specification for float16 serialization should be more specific"
We have an existing specification for how float16 values should be serialized in the `TensorProto` within the `int32_data` field: https://github.com/onnx/onnx/blob/master/onnx/onnx.proto#L325. It says:

[code]

One can infer that each value must be zero-filled in the top 32 bits, but it's not explicitly stated. In fact, I haven't found any implementations for this behavior. We should more explicit

[2018-04-27 04:42] houseroad commented on #835
Could you try to reset your repo? And enter the `onnx` folder, and execute `python setup.py develop`?

[2018-04-27 04:43] houseroad commented on #837
@snnn I am confused, why should this test case only contain only one op?

[2018-04-27 06:04] houseroad commented on #816
Proposed fix here: https://github.com/onnx/onnx/pull/839

[2018-04-27 06:09] houseroad commented on #796
Not an ONNX issue.

[2018-04-27 06:09] #796 closed

[2018-04-27 06:26] houseroad commented on #825
In onnx's spec, `perm` is an attribute of `Transpose`, which means `perm` is determined statically. So it won't be a problem in our optimizer.

In your case, if `perm` cannot be exported statically, existing onnx spec is not able to express it. However, this should be rare. If you have such use case, please send feedback to us. Thanks.

[2018-04-27 06:47] snnn commented on #837
we have softsign op for that？

[2018-04-27 06:49] snnn commented on #837
https://github.com/onnx/onnx/blob/master/docs/Operators.md#Softsign

[2018-04-27 06:50] raymondxyang commented on #835
just a suggestion could u try locate and delete the easy-install.pth in python site-packages folder? sometime it will reference to old develop build..

[2018-04-27 06:53] raymondxyang commented on #835
another thing is do os.path.abspath(onnx.__file__) to ensure it used the right installation. If that is correct there could something wrong with the build. and `git clean -fdx` can remove existing build artifacts.

[2018-04-27 09:33] achernigin1987 opened #840 "Error during installation on Ubuntu 16.04"
I'm trying to install onnx under tensorflow 1.7 virtualenv environment as:
[code]
but observe the following error:
[code]

My protoc version: 2.6.1

[2018-04-27 15:04] fumihwh opened #841 "error: no member named 'has_ref_attr_name' in 'onnx::AttributeProto'"
I got an error as title from checker.cc#L223 `if (used_fields != 1 && (used_fields != 0 || !attr.has_ref_attr_name())) {`
which is introduced by https://github.com/onnx/onnx/pull/802
@linkerzhang Did I miss something?

[2018-04-27 17:21] houseroad opened #842 "Negative Axis Support"
Shall we support negative axis in ONNX spec?

This is unclear, and worth more discussion.

[2018-04-27 17:35] houseroad commented on #814
Let's move the discussion to https://github.com/onnx/onnx/issues/842

[2018-04-27 17:38] houseroad commented on #840
It seems you may have installed some newer version of protobuf headers.

[2018-04-27 17:54] jiangsuliji opened #844 "tf2onnx tool: "StridedSlice not implemented""
While I was converting a frozen tensorflow model, it errors out with "StridedSlice not implemented".
I checked the node and this operation just raises an error.
I was wondering when it could be implemented. Thanks a lot.

Details:
File "C:\Program Files\Python35\lib\site-packages\tf2onnx\tfonnx.py", line 668, in stridedslice_op
raise ValueError("StridedSlice not implemented")
ValueError: StridedSl

[2018-04-27 17:56] houseroad commented on #745
It seems protobuf related shared library cannot be detected. Could you check your virtual env? Maybe try to include protobuf lib into LD_LIBRARY_PATH。

[2018-04-27 17:59] houseroad commented on #844
Could you move the issue to https://github.com/onnx/tensorflow-onnx?

[2018-04-27 18:30] bddppq commented on #842
Yes we should. It's necessary to represent "from the end" in some cases with dynamic shape (e.g. Slice). And to make it consistent, we should allow negative axis everywhere. This also aligns with numpy semantics (which the Test and Compliance working group agreed on in last workshop).

[2018-04-27 19:53] jiangsuliji commented on #844
Sure, i will do that

[2018-04-27 19:53] #844 closed

[2018-04-27 20:05] linkerzhang commented on #842
does this mean we only want to have "-1" to represent sth, instead of having any negative value, right? btw, for unknown type, we have symbolic shape parameter for the purpose.

[2018-04-27 20:08] linkerzhang commented on #807
Closing the issue since PR merged.

[2018-04-27 20:08] #807 closed

[2018-04-27 20:55] gramalingam commented on #842
It seems well-defined and useful. I am fine with supporting it (though it is a generalization of the current spec so we may want to add it to a suitable version of ONNX.) @linkerzhang , this seems orthogonal to the use of symbolic dimensions (or negative values) to represent statically unknown dimension values. This is allowing attributes that specify an axis to specify it from the left end or rig

[2018-04-28 05:27] houseroad commented on #840
I also use 2.6.1, this is fine. Have you ever installed any other version protobuf on your machine?

[2018-04-28 05:45] achernigin1987 commented on #840
[code]

[2018-04-28 05:59] achernigin1987 commented on #840
I found root cause - virtualenv get protobuf 3 headers by some dependencies. But protoc version is also 2.6.1. I've uninstalled all protobuf related in virtualenv and currently It works

[2018-04-28 05:59] #840 closed

[2018-04-29 00:21] wschin opened #851 "Checker Issue for BatchNorm in ONNX-1.1.2"
Hello,
The [doc](https://github.com/onnx/onnx/blob/rel-1.1.2/docs/Operators.md#BatchNormalization) in onnx-1.1.2 doesn't contain "consumed" attribute for BatchNorm, but the checker reports an error below. If we're targeting onnx-1.1.2, can we use op_version=2 to bypass this bug? Thanks.

Input index 3 must be set to ***consumed*** for operator BatchNormalization

==> Context: Bad node spec: input:

[2018-04-29 01:12] fumihwh commented on #851
I assume your model does not contain `opset_imports`?

[2018-04-29 05:58] wschin commented on #851
We have an operator set below in the model.

opset_import {
  domain: ""
  version: 1
}

[2018-04-30 04:29] fumihwh commented on #837
@snnn
This is how pytorch exports softsign now... Of course, it could be improved.

[2018-04-30 04:59] fumihwh commented on #851
So you do already try setting `version: 2`?
[code]

[2018-04-30 06:27] bddppq commented on #851
Hmm this is because our 1.1.2 release only cherry picked couple minor changes and paired with the newest opset version. @raymondxyang @linkerzhang

[2018-04-30 17:39] wschin opened #854 "Questions found after introducing ONNX_NAMESPACE"
I got some questions after updating onnx==1.0.1 to onnx==1.1.2

1. Some private variables in onnx_ONNX_NAMESPACE_ml_pb2.py are not accessible through onnx_pb.py with "from onnx_ONNX_NAMESPACE_ml_pb2.py". For example, onnx.onnx_pb._TENSORPROTO_DATATYPE.

2. Using "pip install onnx" on Anaconda3 (Windows) still produces onnx_ml_pb2.py rather than onnx_ONNX_NAMESPACE_ml_pb2.py. On the other hand, Lin

[2018-04-30 18:44] wschin commented on #854
It's resolved. My solution is to access TensorProto.DataType's protobuf descriptor and create enum table from it. All my other functions only depend on objects accessible through onnx_pb so that I don't need the direct access to the actual protobuf file.

An example:
[code]

[2018-04-30 18:44] #854 closed

[2018-04-30 21:46] houseroad commented on #816
Already fixed.

[2018-04-30 21:46] #816 closed

[2018-04-30 21:59] jiangsuliji opened #859 "Request for adding Pack/Unpack to onnx (that are the ops tf.stack/tf.unstack)"
After the discussion with @guschmue, we think adding Pack/Unpack to onnx is necessary for implementing Strideslices op of Tensorflow. I wish tf.stack/tf.unstack could be added to onnx

[2018-05-01 03:11] linkerzhang commented on #785
Using ValueInfoProto to specify the type/shape will ask value_info to be required. But I agree with you that kernel shape may be redundant since it should be inferred from the input.

[2018-05-01 05:04] guschmue commented on #859
you don't need  Pack/Unpack for StridedSlice. Just happens that your tensorflow model uses StridedSlice, Pack and Unpack.

[2018-05-01 16:18] snnn opened #864 "defs.cc:379 warning C4389: '==': signed/unsigned mismatch"
onnx\defs\tensor\defs.cc(379): warning C4389: '==': signed/unsigned mismatch

[code]

axes[j] is int64_t
i is size_t

[2018-05-01 18:17] zasdfgbnm opened #866 "Trigonometric functions support?"
Is there any plan, or is it contribute welcome, to support trigonometric functions?
sin, cos, tan, asin, acos, atan

These functions are widely supported, for example the cosine function can be found in:
[pytorch](http://pytorch.org/docs/master/tensors.html#torch.Tensor.cos), [tensorflow](https://www.tensorflow.org/api_docs/python/tf/cos), [numpy](https://docs.scipy.org/doc/numpy-1.14.0/reference/

[2018-05-01 18:38] bddppq commented on #866
I agree these should be added to onnx. Are you interested in writing up a PR? :-)

[2018-05-01 18:51] bddppq commented on #866
@zasdfgbnm thanks. here is a previous PR that adds a new operator into onnx: https://github.com/onnx/onnx/pull/496 you can take a look to use it as a reference.

[2018-05-01 20:00] kit1980 commented on #835
I tried all the above suggestions and also tried to completely remove/reinstall all Python-related things.
Still the same error - everything looks good at first, but there are no schema definitions.

For now I've just built ONNX in the Linux subsystem for Windows - works OK there.

[2018-05-02 04:43] zasdfgbnm opened #870 "More operators: where, >= and <=?"
How about adding the following three new operators?
`Where`, `GreaterOrEqual`, `LessOrEqual`

Would these be helpful?

[2018-05-02 05:54] pribadihcr opened #872 "onnx.onnx_pb2'"
Hi,

when run onnx_tf.backend import prepare, I got error:

anaconda3/lib/python3.6/site-packages/onnx_tf/backend.py", line 24, in <module>
    from onnx.onnx_pb2 import GraphProto, TensorProto, AttributeProto
ModuleNotFoundError: No module named 'onnx.onnx_pb2'

[2018-05-02 21:46] raymondxyang commented on #872
try from onnx.onnx_pb import GraphProto?

[2018-05-02 22:33] pooyadavoodi opened #875 "Segmentation Fault on ONNX 1.1.2"
I am using onnx 1.1.2 and Caffe2, and when I do the following, I get a segmentation fault:
[code]
Swapping the order of the above imports doesn't change the error.
backtrace: https://gist.github.com/pooyadavoodi/53c6d0ce381f9a41e8fbd79bb555176c

I built onnx from branch rel-1.1.2 and it works. So the problem is only the pip package I think.

[2018-05-02 23:08] dougsouza commented on #851
Same problem here

[2018-05-03 04:13] leodestiny opened #877 "ONNX-Keras Repo"
Our group has written a ONNX-Keras repo(not finished yet) https://github.com/leodestiny/onnx-keras converted between Keras and ONNX, which we found is a missing part in official repos.
Could this repo merge into official repos? If the answer is yes, what requirements do we need? If answer is no, how should we make contributions to ONNX by this repo?

[2018-05-03 05:55] jspisak commented on #877
thanks @leodestiny for the great work! Can you tell us a bit more about your group?

[2018-05-03 06:03] jspisak commented on #875
@anirudhacharya I think you did the pip packages for the last release? Can you take a look?

[2018-05-03 06:51] anirudhacharya commented on #875
@pooyadavoodi Can you please the environment info of the machine you tried this on?

v1.1.1 has worked properly and has been tested on different environments.
Also I installed the v1.1.2 pip package the day before on an Ubuntu machine in a conda environment, with caffe2 installation in it, and had no problems in importing and using ONNX.

[2018-05-03 09:34] leodestiny commented on #877
We are students from  NASP Lab in CS Department of Tsinghua University.

[2018-05-03 16:17] wschin commented on #877
Awesome! We also have a [plan ](https://github.com/onnx/onnxmltools/pull/28) to support Keras-to-ONNX in ONNXMLTools. Would you mind to take a look and see how we can collaborate? Our parser currently supports shared model structure and recursive models.

[2018-05-03 17:48] anirudhacharya commented on #426
@onnx/facebook-onnx-contributors Can we revisit this list and verify if it is up to date? I have made a few updates but it might still be a bit out of sync.
Also when do we tick off an operator in the list -
 - When someone starts working on it or when the PR gets merged?
 - If a particular operator has tests in pytorch-converted/pytorch-operator but does not have node tests do we consider it as f

[2018-05-03 17:50] houseroad commented on #426
A1: When someone starts working on it, we will mark the op

A2: No, we still need node test, which serves as doc purpose.

[2018-05-03 18:49] anirudhacharya commented on #426
Then what is the purpose of pytorch-converted/pytorch-operator tests?

[2018-05-04 02:53] heils003 opened #883 "## Error ONNX export failed: Couldn't export Python operator GridSampler ？？"
I tried to use ONNX to transform my Pytorch model but with error like this:
[code]
It seems ONNX can't find the same method like the Pytorch Function GridSampler. And it was setted `UNKNOWN_TYPE` on the Layer Operator???  How can I solve it ?

[2018-05-04 05:09] anirudhacharya commented on #426
I am working on BatchNormalization, GEMM, and LRN operator tests.

[2018-05-04 09:34] suryaprakaz commented on #875
Facing the same issue with onnx 1.1.2 installed through pip

[2018-05-04 10:02] saierd commented on #875
I have the same problem. As far as I know, there is currently no way to install a working combination of Caffe2 and ONNX, except for compiling both of them from source.

The current Anaconda version of ONNX still has problem #683 for me. Version 1.1.2 from pip has this segmentation fault. Version 1.1.1 can be installed through pip, but does not work with any of the Caffe2 binaries available in Ana

[2018-05-04 10:11] suryaprakaz commented on #630
Facing the exact error. Were you able to find a solution?

[2018-05-04 18:47] KeDengMS opened #889 "PReLU slope design/doc issue"
I hit a broadcasting issue in implementing PReLU op recently, for the slope parameter. [The document](https://github.com/onnx/onnx/blob/master/docs/Changelog.md#prelu-6) says:
[code]
However, it is not clear what channel means from the doc. I managed to get the test pass by padding 1s in Slope's shape to support 1d/2d/3d multiparam case (NC, NCH, NCHW in my understanding). At minimal, we should fi

[2018-05-04 18:53] houseroad commented on #889
We have a redesign here: https://github.com/onnx/onnx/pull/580

However it didn't move forward.

[2018-05-04 18:58] KeDengMS commented on #889
Thanks for pointing out #580. As you may find out in #83, there are several other issues related to broadcasting rules. If we are going to redesign PReLU instead of clarifying its doc, I'd prefer to redesign it in the numpy broadcasting rules. I can submit a PR for that if needed.

[2018-05-04 21:07] raymondxyang commented on #872
close since there is no further message. feel free to reopen if there are still issues.

[2018-05-04 21:07] #872 closed

[2018-05-04 22:35] houseroad commented on #889
I think we are moving our broadcasting to numpy style. If you have bandwidth, could you create a proposal in our github wiki on this numpy style broadcasting topic?

[2018-05-05 08:34] anirudhacharya commented on #875
I am able to reproduce this.

I am able to build ONNX v1.1.2 and all the tests run successfully, but when used with caffe2 it does give a segmentation fault. But this issue does not exist with ONNX v1.1.1.

@raymondxyang can you check the v1.1.2 release - https://github.com/onnx/onnx/releases/tag/v1.1.2

[2018-05-05 19:04] raymondxyang commented on #875
Sure. Will take a look.

[2018-05-06 08:16] jsenellart commented on #7
Hello, I have a first draft of luatorch > onnx extraction here: https://github.com/jsenellart/luatorch-onnx-convert. Still work in progress, but it works end-to-end and converts discovered `nn`, `nngraph` and `onmt` modules to onnx - infering shapes when necessary, and building initializers. Contact me if you need specific support.

[2018-05-06 17:17] wschin commented on #875
ONNX-1.1.1 + Caffe2 on Travis produces segmentation fault too.

[2018-05-06 21:27] linkerzhang opened #900 "Remove "Graph" attribute type to cut circle proto message dependency in onnx.proto"
In ONNX, we're having a different bunch of types for attributes from input/output types. This introduces two main problems.
1. Circle dependency among proto messages. all messages in onnx.proto have to be put in one file due to this.
2. Attribute can't have flexible type per input/output type. For example, “max” and "min" attribute in Clip op. It should have same type as input/output.

Solution:

[2018-05-07 12:53] suryaprakaz commented on #630
Solved it by adding exhaustive_search to _blacklist_caffe2_args in frontend.py

`
    # caffe2 arguments that are completely removed in onnx
    _blacklist_caffe2_args = {
        'order': {b'NCHW'},
        'cudnn_exhaustive_search': {0, 1},
        'exhaustive_search': {0, 1},
        'use_cudnn': {0, 1},
    }
`

[2018-05-07 16:48] ghop02 commented on #141
I'm pretty new to ONNX and am wondering where the community falls on the priority for the support for various operators, similar to this sort of request.

Is there some sort of cutoff for popular enough? It just seems like the sort of thing that supporting as many operator types as possible would make ONNX so much more flexible and really streamline the path from research to production.

[2018-05-07 17:15] bddppq commented on #900
Hmm looks to me Attribute and Tensor are two pretty different concepts (as the current AttributeProto::AttributeType indicates, their relation is that TensorProto is one of the value type of Attribute) At the serialization format level, it's probably true that's we can use one proto message to represent both (like as an extreme case you can use A proto message that has one single repeated bytes fi

[2018-05-07 22:07] KeDengMS commented on #889
Here are the [numpy broadcasting rules](https://docs.scipy.org/doc/numpy/user/basics.broadcasting.html#general-broadcasting-rules). Should I just copy them to wiki?

[2018-05-07 22:12] houseroad commented on #889
Instead of copying, you can just refer to it. :-)

[2018-05-07 22:26] bddppq commented on #827
1. yes
2. maybe add something like this: https://github.com/pytorch/pytorch/blob/master/caffe2/core/tensor.h#L636.

As a side note, we should prioritize the work of adding specific checks into individual Operator.

[2018-05-07 23:55] KeDengMS commented on #889
Seems I don't have write access to wiki, so I put the proposal [here](https://gist.github.com/KeDengMS/76337ca350aaa222318a3dda47a6839a). Would you please help me upload to wiki for public discussion. Thanks!

[2018-05-08 00:14] houseroad opened #905 "Bump up the opset_version to 7"
- [x] https://github.com/onnx/onnx/pull/876
- [x] update the pytorch converted models
- [x] update the model zoo files

[2018-05-08 00:40] houseroad commented on #875
@pooyadavoodi could you use "CMAKE_ARGS="-DCMAKE_BUILD_TYPE=Debug" to build the onnx, and paste the stack info here?

Thanks

[2018-05-08 01:11] linkerzhang commented on #900
It's not a checker job. The problem is that there's no way to specify same type for input/output and attribute. I believe attributeproto does the same thing as tensorproto. We're adding ints/strings/floats into AttributeProto as shortcuts, actually they can be presented by tensor too.

The only thing special in AttributeProto now is "Graph" type, which should be cut and using "String" to refer its

[2018-05-08 01:20] chrisaberger opened #906 "World Language Model Checker Fails (Reshape Input Size Mismatch)"
When I run the provided world language model from PyTorch (https://github.com/pytorch/examples/blob/master/word_language_model) with:

[code]

added after this line https://github.com/pytorch/examples/blob/master/word_language_model/main.py#L185. I get the following error on the reshape operator:

[code]

I am running with ONNX 1.1.1 and PyTorch 0.4.0.

[2018-05-08 01:25] fumihwh commented on #906
Seems checker checks model by using opset version < 5.
Check your model's opset_import and installation of ONNX first.

[2018-05-08 01:52] chrisaberger commented on #906
Thanks! Yes my model is using opset version 6. Any references on how to make this consistent?

[2018-05-08 02:08] fumihwh commented on #906
@chrisaberger
Could you reinstall your onnx?
First clean your local files by like `git clean -xfd`.

[2018-05-08 02:38] chrisaberger commented on #906
This fixed it. Thanks!

[2018-05-08 02:38] #906 closed

[2018-05-08 04:07] houseroad commented on #883
This means PyTorch does not know how to translate this op. Please check [the tutorial](https://github.com/onnx/tutorials/blob/master/tutorials/PytorchAddExportSupport.md) to fix the problem.

[2018-05-08 17:37] houseroad commented on #889
Ongoing PR: https://github.com/onnx/onnx/pull/907

[2018-05-08 18:19] #819 closed

[2018-05-08 18:19] snnn commented on #792
ping

[2018-05-08 18:26] KeDengMS commented on #83
FYI. #907 is working on a fix.

[2018-05-09 04:11] fumihwh opened #915 "enhance RNNs test cases"
@pk-g
I am working on LSTM.
Current test cases does not have cases about input's seq_len != 1.
I am curious how it works.
I think it should like following. But the output mismatches with output from pytorch. (I set same input, w, r, b)
Could you take a look?
[code]

[2018-05-09 06:41] lanpa opened #916 ""Assertion `state` failed" if using variable slice/index assignment when exporting model"
[code]
environment is pytorch 0.4, and the output of the above code is:
[code]
ref: https://github.com/lanpa/tensorboard-pytorch/issues/85
cc @filipeabperes

[2018-05-09 08:03] #915 closed

[2018-05-09 09:31] tsocha opened #918 "ImportError: No module named google.protobuf.descriptor_pb2 on Ubuntu 16.04"
We are trying to use the newest source of ONNX on Ubuntu 16.04 but we get this error:

[code]

seems that commit with SHA-1: https://github.com/onnx/onnx/commit/7fcdf415570ceb2f1abe0397a612c2102147a30d broke the build.

protoc version: 2.6.1(the newest from repository)

Are there any workarounds for this problem to use the newest ONNX on this machine?

[2018-05-09 12:53] ayush1999 opened #919 "Error extracting weights from tensorproto."
The `dims` attribute of `TensorProto` defines a list of the dimensions the array has to be reshaped into. However, in the Shuffenet model, TensorProto objects are similar to :
`TensorProto([5], 7, #undef, Float32[], Int32[], Array{UInt8,1}[], Int64[], "OC2_DUMMY_5", "", UInt8[0x01, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x04, 0x00  …  0x00, 0x00, 0x1c, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00],

[2018-05-09 16:06] fumihwh opened #921 "lstm - pytorch exported pb doesn't match specification"
Use Netron open onnx/backend/test/data/pytorch-operator/test_operator_lstm/model.onnx can get:
![image](https://user-images.githubusercontent.com/6838753/39824565-a4bf96d2-53ea-11e8-87c5-edb132a839e7.png)

Here, output from first LSTM should have shape [seq_length, num_directions, batch_size, hidden_size] following the docs. (In pytorch, should have  (seq_len, batch, hidden_size * num_directions))

[2018-05-09 17:18] ayush1999 opened #922 "Error in importing onnx"
Followed the docs to install onnx from the binary. However, this is what I get when I import it.

[code]
Any idea what might be causing this error?

[2018-05-09 17:46] houseroad commented on #921
@anderspapitto would you mind to take a look?

[2018-05-09 18:54] anderspapitto commented on #921
@fumihwh is this the same issue as https://github.com/pytorch/pytorch/issues/6879?

[2018-05-09 21:18] raymondxyang commented on #875
There is no segfault in current master branch (soon to release 1.2).. still investigating 1.1.2.

[2018-05-10 01:09] fumihwh commented on #921
@anderspapitto
Nearly, but that issue claims weight tensors `W`, `R`, `B`.
However this issue focuses on output tensors `Y`, `Y_h`, `Y_c`.

[2018-05-10 07:18] ydp opened #927 "support assets like MXNet model server or tensorflow savedmodel"
I read the IR spec documents, did not find any field to represent assets like tensorflow savedModel format or MXNet model server, but that is necessary when we have vocabularies, etc.

tensorflow savedModel
[code]

MXNet model server:
[code]

[2018-05-10 07:59] guoyejun opened #929 "is there a c library to load onnx model and trained parameters in memory"
hi,

i'm interested to bring onnx into my c/c++ project for inference (i do not choose the deep learning frameworks such as tensorflow because they might be too heavy to port to some mobile device). The key thing I want is the onnx format interpretation, i can write my own inference engine to execute the onnx model.

so, is there a demo to show the c/c++ APIs to  load onnx model and trained parame

[2018-05-10 08:57] newling commented on #929
It is possible, see https://github.com/onnx/onnx/issues/418 .

[2018-05-10 23:41] houseroad commented on #922
protobuf library mismatching, you may install two versions of protobuf, for example one in the operating system, and one in the anaconda environment.

[2018-05-11 07:55] qjchen1972 opened #932 "onnx.onnx_cpp2py_export.checker.ValidationError, help!!!"
# hi, I used the following code to get net.proto

from torch.autograd import Variable
import torch.onnx
import torchvision
dummy_input = Variable(torch.randn(10, 3, 224, 224)).cuda()
model = torchvision.models.densenet121(pretrained=True).cuda()
torch.onnx.export(model, dummy_input, "net.proto")

# then，i used the following code to check

import onnx
model = onnx.load("net.proto")
onnx.checker.che

[2018-05-11 09:52] ffk0716 opened #933 "onnx build fail, onnx.proto: File not found."
There should be a build dependency between onnx-operators.proto and onnx.proto.
But the CMakeLists.txt does not describe this.

[2018-05-11 12:31] ayush1999 opened #935 "Writing backend tests for a Julia framework"
I was working on ONNX.jl, a Julia package for importing ONNX files to the Julia Flux framework. I needed some advice regarding writing the backend tests for this. How should I start with writing these tests, since the package is written in Julia and the tests are written in Python.

Any advice/suggestions will be helpful.

[2018-05-11 14:41] Nagamani732 opened #936 "Unable to install onnx in windows 10"
I am trying to install onnx from source. I already installed the required dependencies. Though I am getting the following error.

I am totally confused where I am going wrong. Could someone help me ?

The detailed log

Collecting onnx
  Using cached https://files.pythonhosted.org/packages/97/31/3b175c6efd301c4abb6fbf0e8283acfe3c06a564d38a43a6df29d0ba039c/onnx-1.1.2.tar.gz
Requirement already satis

[2018-05-11 22:11] ebarsoum commented on #935
Would the R binding help? https://github.com/onnx/onnx-r

[2018-05-11 23:18] raymondxyang commented on #936
Hi thanks for reporting this. It looks like you are build onnx for python2.7 using vc9.0. We highly suggested you switch to python3.5/6 on Windows because 1)onnx is developed with c++11 standard so dated VC cannot support some functions. 2) if using new VC (can do it in a conda3.5/6 with a py2.7 environment), there could be potential CRT libs mismatch in later uses or development (python 2.7 on wi

[2018-05-11 23:34] bddppq commented on #932
It's likely your onnx install is stale, installing from our github repo should resolve the issue.

[2018-05-11 23:39] bddppq commented on #935
@ayush1999 The source of truth of our tests are the protobuf data files here https://github.com/onnx/onnx/tree/master/onnx/backend/test/data. We just have a [python test harness](https://github.com/onnx/onnx/tree/master/onnx/backend/test/runner) to load these data files and export python test cases. So for your case, you can simply load the protobuf files and do the comparison in Julia.

[2018-05-12 00:27] jekbradbury commented on #921
It also needs to be fixed in onnx-tensorflow, which assumes yet another distinct format for outputs, but we're on that :+1:. Thanks Anders!

[2018-05-12 00:55] zasdfgbnm commented on #870
Can anyone make any comment on this?  I just need to know if they are contribute welcome. These ops are useful to me, and if it is contribute welcome, I can easily add it as I did in https://github.com/onnx/onnx/pull/869

For the `GreaterOrEqual` and `LessOrEqual`, we already have `Greater` , `Less`, `Equal`, and `Or`, but it is not a good idea to express `>=` as `> or =`, since many ISAs support

[2018-05-12 04:16] bddppq commented on #870
For `GreaterOrEqual` and `LessOrEqual`, since as you have pointed out they can be composed by existing ops, so I feel it's better to not add them (or we could use the newly added `Function` to introduce these composed ops). @linkerzhang
For `Where`, this can be implemented as `If` with the two graph attributes only containing one single Constant Node. @jamesr66a @zdevito

[2018-05-12 08:13] houseroad opened #939 "Combination of the helper function"
Many people would like to call shape inference, optimizer, doc_string stripper and checker together. Let's have a helper function to invoke them all.

[2018-05-12 08:22] houseroad opened #940 "Rename Function (A Helper Function)"
Helper function which rename the input and output of the model

[2018-05-12 08:28] houseroad opened #941 "Optimization Pass"
Merge double squeeze into one

[2018-05-12 15:54] zasdfgbnm commented on #870
@bddppq Thanks a lot for your quick reply!

As a user, I'm totally happy with the solution of composing `GreaterOrEqual` and `LessOrEqual` by existing ops. It might just be a bit annoying for DL framework developers, e.g. they might need to write code to optimize `a > b or a = b` or `not a < b` to `a >= b` to turn 2 tensor operations into 1 for better performance.

For the `Where`, your reply comp

[2018-05-12 19:06] ayush1999 opened #942 "Unable to find attribute holding data"
The docs https://github.com/onnx/onnx/blob/master/docs/IR.md#attributes state that the `_type` attribute of `AttributeProto` stores information regarding where the data is present. In a few ONNX models, I noticed the `_type` to be 0. What does this imply? And given any other numeric value of` _type`, how can I infer which attribute holds the data?

[2018-05-12 19:07] ayush1999 commented on #935
I see. Thanks a lot @bddppq . Closing this issue now.

[2018-05-12 19:07] #935 closed

[2018-05-13 02:13] qjchen1972 commented on #932
I installed onnx-1.1.2 with "pip install onnx",   but the error message  is still.

[2018-05-13 04:51] bddppq commented on #932
You need to install from our current github master, do
`pip install git+https://github.com/onnx/onnx/commit/490c4c6ca99bceed0499bab3535b43917dea0537`

[2018-05-13 05:43] qjchen1972 commented on #932
@bddppq

# I use "pip install git+https://github.com/onnx/onnx.git",   the install is OK! :

Cloning https://github.com/onnx/onnx.git to /tmp/pip-jliNjE-build
Requirement already satisfied: protobuf in ./anaconda2/lib/python2.7/site-packages (from onnx==1.1.1)
Requirement already satisfied: numpy in ./anaconda2/lib/python2.7/site-packages (from onnx==1.1.1)
Requirement already satisfied: six in ./

[2018-05-13 06:05] ayush1999 commented on #942
@bddpqq I noticed several `AttributeProto`s having the same `_type` but referring to different fields. Why is this happening?

[2018-05-13 08:02] bddppq commented on #942
@ayush1999 Thanks for reporting. For onnx models with `ir_version >= 2` the `type` field of AttributeProto should be present and != 0 (0 means undefined).
@houseroad @mx-iao Please correct the mnist model file. Beside the `type` field issue mentioned above, the `opset_import` field is already missing, which is required for model with `ir_version >= 3`.

[2018-05-13 08:09] bddppq commented on #932
There can be two potential reasons for this error:
1. The build links to the system libprotobuf while you are using a conda environment
2. Your conda gcc default to build with cxx11 abi while the conda libprotobuf was built with gcc4 abi. (The demangled undefined symbol in your error message is `google::protobuf::Message::GetTypeName[abi:cxx11]() const`)

Could you set environment variable `VERBOS

[2018-05-13 14:45] zasdfgbnm commented on #866
Fixed.

[2018-05-13 14:45] #866 closed

[2018-05-13 23:06] qjchen1972 commented on #932
ok, @bddppq .
# the director onnx  is updated with " git pull". in order to geting  compiler commands, I use command " python setup.py install"

# the follow output is  python setup.py install 2>pp
cat pp

CMake Warning at CMakeLists.txt:235 (find_package):
  By not providing "Findpybind11.cmake" in CMAKE_MODULE_PATH this project has
  asked CMake to find a package configuration file provided by "

[2018-05-14 03:34] qjchen1972 commented on #932
the onnx install is OK in ubuntu14.04.   default installation of protobuf.so.9 has led to this problem in Ubunto16.04  @bddppq ..thanks for your patience

[2018-05-14 03:53] bddppq commented on #932
@qjchen1972 Good to hear. Thanks for confirming.

[2018-05-14 03:53] #932 closed

[2018-05-14 16:56] snnn commented on #827
This is definitely a security bug must be fixed.

[2018-05-14 19:04] snnn opened #956 "unqueeze needs to accept int64 input"
onnx\backend\test\data\pytorch-operator\test_operator_lstm\model.onnx

operator unqueeze  in this model get an tensor(int64) input

[2018-05-14 20:10] bddppq commented on #956
should be expanded to accept any type. could you send a schema fix PR?

[2018-05-14 20:44] snnn commented on #956
Hi @bddppq

Submitted.

[2018-05-14 22:42] #921 closed

[2018-05-15 04:15] tom888888 opened #963 "Segmentation fault"
1.When I install caffe2 and onnx with conda
`conda install -c caffe2 caffe2`
`conda install -c conda-forge onnx`
`conda install -c conda-forge protobuf numpy`

`python -c "import onnx"`
 #### this error occurs
`Segmentation fault`

and
`python`
(1)`import caffe2.python.onnx.frontend`
#### this error occurs
[code]
(2)`import caffe2.python.onnx.backend`
#### this error occurs
[code]

## My Python En

[2018-05-15 11:41] guoyejun commented on #745
i also met this issue with 'conda install -c conda-forge protobuf numpy', and the issue is gone with 'conda install protobuf numpy', there is no error to run 'python setup.py install'.

[2018-05-15 11:42] kartk opened #964 "Getting error in tutorial code"
I tried converting a Pytorch model to onnx format by following the PytorchOnnxExport.ipynb from the Tutorials repo. I get the following error
`model with IR version < 3 cannot have opset_import specified`
while running the following line
`onnx.checker.check_model(model)`

What could be the issue here ?

[2018-05-15 17:07] houseroad commented on #750
https://github.com/onnx/onnx/pull/965 addresses the problem.

[2018-05-15 17:40] anderspapitto opened #966 "Document guarantees provided by the checker"
first let's collect them here, then put them somewhere in the documentation

- Required attributes are present
- There are no unknown attributes
- All attributes are of the right type
- Number of inputs and outputs is valid

[2018-05-15 17:40] anderspapitto commented on #966
@bddppq what else is on the list?

[2018-05-15 19:32] jendrikjoe commented on #745
Hey @guoyejun, I have the exact same issue on 18.04. I tried your fix which simply leads to a Segmentation Fault when importing onnx (however think that is really a protbuf bug...)

[2018-05-15 23:15] raymondxyang commented on #875
Some updates: Tried both release, master branch module built locally works fine. However the published wheels (build on pypa manylinux1 images) all have the same issue when use with Caffe2.. may need some help on linux and gcc problems

[2018-05-16 01:37] guoyejun opened #975 "pytest: error: unrecognized arguments: --nbval --current-env --cov=onnx --cov-report"
i use  anaconda on ubuntu 16.04, and have done 'pip install pytest-cov nbval' within anaconda env.

after run 'python setup.py install', i run 'pytest', and got the following error:
(pyenv_onnx) yguo18@yguo18-skl-u1604:/work/ml/onnx_work/onnx$ pytest
usage: pytest [options] [file_or_dir] [file_or_dir] [...]
pytest: error: unrecognized arguments: --nbval --current-env --cov=onnx --cov-report
  inif

[2018-05-16 02:05] guoyejun commented on #929
thanks

[2018-05-16 02:05] #929 closed

[2018-05-16 04:18] bddppq commented on #975
you need to pip install nbval

[2018-05-16 04:19] #956 closed

[2018-05-16 06:17] houseroad commented on #964
Could you check your pytorch version? Maybe its version is too old.

[2018-05-16 06:31] jendrikjoe commented on #745
Hey @guoyejun, thank you for the hint. unluckily that didn't solve the issue :(

[2018-05-16 06:39] newling commented on #750
Looks good, thanks.

[2018-05-16 06:39] #750 closed

[2018-05-16 08:47] Nagamani732 commented on #624
I built caffe2 and onnx  from source and tried to export squeezenet model but ended up the same error:

I couldn't find any solution to fix this. By any chance you got this fixed ?
Thanks in advance !!

[2018-05-16 09:03] kartk commented on #964
Yes, It was. I had a pytorch v0.3.1. I updated it v0.4.0 and issue was solved

[2018-05-16 09:03] #964 closed

[2018-05-16 09:06] Nagamani732 opened #980 "Error exporting squeezenet model in caffe2 !!"
I built caffe2 and onnx from source and tried to export squeezenet model but ended up the following  error:

I couldn't find any solution to fix this. Could anyone help me in this regard ?
Thanks in advance !!

[2018-05-16 16:42] anderspapitto opened #981 "Implement shape inference for Reshape from a Constant shape"
in the fully general case, Reshape breaks the flow of shape inference, because the shape may be completely dynamic.

However, many cases are not fully general, and the shape input is the direct output of a Constant operator. In these cases we should be able to inspect the static argument input to the Constant operator, and infer the resulting shape of Reshape output accordingly.

In practice howev

[2018-05-16 17:09] ebarsoum commented on #981
Regarding the input from Constant OP, the input can be a constant from an expression and not just a single Const OP. Promoting attribute to an input will continue to happen depending on the flexibility needed, it would be good to have a generic solution, if we know the input is static at graph reconstruction time.

[2018-05-16 17:17] anderspapitto commented on #981
@ebarsoum sure, it's possible to expand the scope. However I'm particularly concerned about Reshape with what I'll call a "shape literal", since I know this occurs commonly.

[2018-05-16 21:08] varunarora commented on #125
Adding my 2 cents (with regards to Baidu's PaddlePaddle).

Firstly, I think ONNX offers an important IR for the case of training too. I have no doubts there; I am not even thinking long term - this is already a need with things like n-Graph. Yes, I understand there is work needed to fully support that.

I originally was of the favor of having ops for the backward pass within the ONNX graph, but ta

[2018-05-17 02:47] peizhao commented on #358
I fix this issue by install the ONNX from the Source on the Master Branch.

[2018-05-17 13:19] BenjaminBout opened #984 "Error ONNX Export failed, Hardtanh not supported"
I tried to export a PyTorch model to ONNX and got this warning and error :

`UserWarning: ONNX export failed on ATen operator hardtanh because torch.onnx.symbolic.hardtanh does not exist`
`RuntimeError: ONNX export failed: Couldn't export operator aten::hardtanh`

So after some researches, I understood that PyTorch can't export the operator Hardtanh. I tried to follow [the tutorial to add export s

[2018-05-17 15:21] anderspapitto opened #985 "Proposal: remove explicitly optional outputs"
Unlike optional inputs, optional outputs add no expressiveness or implementation flexibility. In a sense, all outputs of every operator are already optional - if the graph does not contain a consumer for that output, the backend is free to skip computing it as an optimization.

However some operators have outputs which are explicitly tagged as optional, which is just redundant and confusing. I pro

[2018-05-17 18:13] snnn commented on #835
What's your VC version?

[2018-05-17 18:16] kit1980 commented on #835
Visual Studio Enterprise 2017
Version 15.6.6

[2018-05-17 18:18] snnn commented on #835
Do you have multiple VS instance installed? e.g. VS 2015.  It looks like wholearchive compile flag doesn't take affect, that flag is only supported after VS 2015 update 2

[2018-05-18 05:05] gramalingam commented on #985
I agree. It sounds like a good idea.

(However, I think it does require some work in the backend implementation: the intention is to allow some operator implementations avoid computing some output if it is not required (e.g., for example RNN where we want only the final state and not the entire sequence of states); at the same time, we do not want to burden all operator implementations with having

[2018-05-18 09:06] Nagamani732 commented on #418
@bddppq I built onnx from source I tried to print the number of inputs in a model as you mentioned in the previous message but I am not to get the onnx nanmespace itself.

Can you please help me thid regard?

[2018-05-18 11:16] ayush1999 opened #990 "_type = 0 for emotion_ferplus model"
As I also stated in #942 , I realized that even the emotion_ferplus model has `_type` = 0 for a few attributeprotos.

cc @bddppq  Can you please have a look?

[2018-05-18 11:18] samson-wang commented on #488
I tried the demo too.
Only get a `Segmentation fault (core dumped)`!

[2018-05-19 02:00] anderspapitto opened #995 "update shape inference to handle full numpy broadcasting"
i.e. make any changes necessary in light of https://github.com/onnx/onnx/pull/907

[2018-05-19 21:19] tjingrant opened #996 "Definition of Tile changed without bumping the opset version"
Documentation in the master branch:
https://github.com/onnx/onnx/blob/master/docs/Operators.md#Tile

versus

Documentation in the v1.1.0 release:
https://github.com/onnx/onnx/blob/v1.1.0/docs/Operators.md#Tile

@ezyang @bddppq

[2018-05-20 00:19] houseroad commented on #996
The old one is kind of buggy. But I agree with that it's better to keep the old definition in old.cc. I will fix it.

[2018-05-20 04:36] tjingrant commented on #996
@houseroad the problem I had is that recently, we started test onnx-tensorflow against onnx master and a onnx release (v1.1.0). In this case, there is no non-hacky way (e.g., matching specific onnx version and so on) to differentiate between two different tile op schema, which means we cannot have onnx-tensorflow + onnx-master and onnx-tensorflow + onnx-v1.1.0 both working at the same time.

I am

[2018-05-20 11:36] houseroad commented on #996
@tjingrant thanks for the information. My plan is adding the previous version in old.cc, and mark the current version with opset_version 7. So you can check the opset_version before execute it.

[2018-05-20 12:37] houseroad commented on #905
with https://github.com/onnx/onnx/pull/907/, we will use numpy style broadcasting

[2018-05-20 18:41] tjingrant commented on #996
@houseroad in that case, things would be a lot better for us if you can ensure that the current master does not make its way into a v 1.1.3 release.

[2018-05-21 00:47] houseroad commented on #996
Not sure about this, because very likely, the 1.2 will be a snapshot release, instead of cherrypicking some commits.

[2018-05-21 03:22] Lynkzhang opened #997 "can not import onnx installed from conda forge"
Hello, I installed onnx by using the command:
[code]

but when I test with:
[code]

It aborted:

[code]

[2018-05-21 05:40] Nagamani732 opened #999 "onnx namespace error in c++"
I built onnx from source I tried to print the number of inputs in a model as @bddppq mentioned in one of the previous closed issues but I ended up with an error in the onnx namespace. Though I have included the headers compiler couldn't find onnx namespace

Can you please help me to resolve this issue?

`#include "onnx/onnx_pb.h"`
`#include "onnx/proto_utils.h"`

`std::unique_ptr<ModelProto> model

[2018-05-21 08:30] Nagamani732 opened #1001 "Couldn't find onnx.pb.h in latest onnx-1.1.2"
The following line is included in onnx_pb.h but couldn't find where the file located in. Any idea where the file will be?

Thanks in advance !!

https://github.com/onnx/onnx/blob/241a350272ff7babce154ef58033ad9424e6bfd5/onnx/onnx_pb.h#L64

[2018-05-21 10:27] Nagamani732 opened #1002 "Do we have any documentation on how to use onnx using c++"

[2018-05-21 12:36] houseroad opened #1003 "Adding missing operators required by Faster RCNN"
- [ ] BBoxTransform

- [ ] BoxWithNMSLimit

- [ ] GenerateProposals

- [x] RoIAlign

[2018-05-21 17:17] bddppq commented on #996
The current master won't be made to next release, as @houseroad said, let's add the previous version of Tile to Tile-v1 and make the current definition Tile-v7, so in next release you will see two versions of Tile.

[2018-05-21 17:30] bddppq commented on #996
@tjingrant Yes Cast should be fixed as well

[2018-05-21 18:47] ghop02 commented on #984
Not sure what the policy is for duplicates, but this is a duplicate of #141

[2018-05-22 00:00] houseroad commented on #996
https://github.com/onnx/onnx/pull/1007 and https://github.com/onnx/onnx/pull/1008 addresses Tile and Cast separately. Now we have two versions, v1 and v6 (because the changes are introduce in opset_6)

[2018-05-22 00:46] tjingrant commented on #996
Thanks @houseroad that would greatly help us.

[2018-05-22 17:43] snnn commented on #997
I can re-produce this error on Ubuntu 16.04

[2018-05-22 21:26] linkerzhang commented on #985
Removing "optional" tag from optional output will make all output be optional by default, which will make the number of outputs check not as good as current logic. For example, For Add op, its number of output should be always 1, can't be 0 (we're checking this in checker); and for batchnormalization, it's number of output should be 1 or 5. if we remove explicit "optional" output tag, then number

[2018-05-23 00:06] houseroad commented on #996
Close the issue since two PRs are merged.

[2018-05-23 00:06] #996 closed

[2018-05-23 02:06] houseroad commented on #1002
As far as I know, there is no doc about ONNX C++ APIs. We should add it.

Before that, you can refer to some existing examples: https://github.com/pytorch/pytorch/tree/master/caffe2/onnx

[2018-05-23 05:07] linkerzhang commented on #1001
The file is generated by running protoc, so if you following the development guide and build the repo from source code. it will be auto-generated and put in folder \onnx\.setuptools-cmake-build\onnx\.

[2018-05-23 05:12] linkerzhang commented on #999
the namespace used in onnx c++ codes now is "ONNX_NAMESPACE", if you want to use "onnx" as the namespace you'd run cmake with option "-DONNX_NAMESPACE=onnx". otherwise, please change your code as,

ONNX_NAMESPACE::ParseProtoFromBytes(model.get(), bytes, nbytes);

[2018-05-23 05:30] #889 closed

[2018-05-23 05:30] linkerzhang commented on #889
PR merged.

[2018-05-23 05:53] bddppq commented on #981
Can we do a constant values folding pass first, and then extend the shape inference API to let shape inference functions access the values of initializers? The const folding pass will be useful for other purposes as well.

[2018-05-23 07:35] Nagamani732 commented on #1002
OK. Thank you

[2018-05-23 07:35] #1002 closed

[2018-05-23 09:13] Nagamani732 commented on #999
OK. Thank you. It worked out

[2018-05-23 09:13] #999 closed

[2018-05-23 09:31] Nagamani732 commented on #1001
Yes, I cloned the repo(onnx) and built from source in **windows 10.** After doing cmake the following project files has been generated ALL_BUILD, gen_onnx_operators_proto, gen_onnx_proto, INSTALL, onnx, onnx_proto, ZERO_CHECK in built directory. I just opened ALL_BUILD project in VS2017 and tried to run but ended up the following error.

Could you please help me to resolve this ?

Thanks in advanc

[2018-05-23 17:16] dzhulgakov commented on #927
Yes, for packaging parameters in a better form we're trying to use  https://github.com/onnx/onnx/wiki/%5Bdraft%5D-Proposal-for-ONNX-archive-file-format

For model signature - there's some work in #879 to experiment with possible annotations.

For other assets - we can basically allow arbitrary files inside the archive. It'd be a bit harder to align the semantics of using assets across frameworks.

[2018-05-23 17:47] snnn opened #1018 "Model checker should check if every node has a valid name"
Every node must have a valid name, which cannot be empty.

[2018-05-23 17:48] #1018 closed

[2018-05-23 19:40] dougalsutherland commented on #683
Should be fixed with the new `conda-forge` packages for 1.1.2, which will come out in the next few hours: https://github.com/conda-forge/onnx-feedstock/pull/12.

Just for the record, conda-specific build problems might be more likely to get a response at https://github.com/conda-forge/onnx-feedstock/issues; I help handle the conda builds, but don't watch this issue tracker.

[2018-05-23 19:41] dougalsutherland commented on #997
Should be fixed with the new conda-forge packages for 1.1.2, when those come out in a few hours: https://github.com/conda-forge/onnx-feedstock/pull/12.

[2018-05-23 21:15] skottmckay opened #1019 "GRU equations/python"
Should R[zrh] be treated the same as W[zrh] values and be transposed before use? That would match the CNTK implementation and be a more consistent treatment of the W and R values.

Current equations are
[code]

current python from GRU_helper.py
[code]

python with transpose of R[zrh] that produces same results as CNTK
[code]

[2018-05-23 23:46] ravikantgupta9 opened #1020 "Converting detection model to SSD doesnt succeeed"
I am trying to convert this (https://s3.amazonaws.com/amdegroot-models/ssd300_mAP_77.43_v2.pth) detection model to onnx but I am facing this error

The repo containing the training and testing code is here https://github.com/amdegroot/ssd.pytorch

This is the error I get. Any help on how to resolve it?

this is the code I am running

    num_classes = 21
    net = build_ssd('test', 300, num_classe

[2018-05-24 00:17] houseroad commented on #941
@fumihwh do you mind to take a look? :-)

[2018-05-24 00:50] KeDengMS opened #1021 "Should we relax the requirement of "initializers must be in inputs"?"
Netron does not check it, as [this model](https://gist.github.com/KeDengMS/656253c15da8c0880543eae06303c13d/raw/a85bcb4ab1e65b752762b325ac45a5d63776436e/one_initializer_not_in_inputs.onnx) loads fine, even though the initializer Add1_Input1 is not in inputs.

We ran into this because our code assumed this before, and now the implementation has relaxed the check. Does it make sense to relax in the

[2018-05-24 00:59] fumihwh commented on #941
@houseroad Sure

[2018-05-24 01:40] fdwr commented on #1021
It makes sense to list any application-bindable inputs/outputs of the graph in the onnx::GraphProto, but it's dubious to list the names of tensors for _all_ internal nodes that just take static initializer inputs for weights. For example, the squeezenet ONNX file lists every single node's input tensor in the onnx::GraphProto input, but the graph really only has one bindable tensor of interest to a

[2018-05-24 03:43] ydp commented on #927
Thanks for reply.

In my cases, I need to handle embedding in DNN models, to be more specifically, we have user ID and item ID in almost all recommender system or CTR algorithm, those IDs need to store in file, the format is one ID each line, the ID could be numbers or strings.

In the proposed format above, I guess we can refer each IDs list in a file, and compress all IDs list file in the zip fi

[2018-05-24 06:15] linkerzhang opened #1023 "ONNX 1.2 release"
Release notes:
IR Changes
•	Add function and attribute reference (PR #802).
•	Add dimension denotation (PR #443) and type denotation (PR #879).
Operator Changes
Latest operator set version is 8 for ONNX domain and 1 for ONNX_ML domain.
•	Type and shape inference function added for all operators.
•	Add new operators.
o	Upsample (PR #861) – promoted from experimental, attributes and behavior updated

[2018-05-24 14:21] Nagamani732 opened #1025 "Why is there an additional Reshape layer in LeNet's onnx pb file ?"
The following is the LeNet model's layer types that I could see in deploy.prototxt. I just converted this from caffe->caffe2->onnx using the respectively conversion tools that are available.

MaxPool
Conv
MaxPool
Gemm
Relu
Gemm
Softmax

After the conversion I could ses a new layer in onnx pb file

In onnx pb file I could see

MaxPool
Conv
MaxPool
**Reshape** -- This layer is added newly
Gemm
Relu

[2018-05-24 16:27] jspisak commented on #1023
@linkerzhang thanks for starting this Ke. Let me know if there is anything I need to push on my side..

[2018-05-24 17:56] mmajurski opened #1026 "import onnx fails due to version difference with caffe2 when installing using conda"
When I use Anaconda3 to install both Caffe2 and Onnx 'import onnx' fails.
However, onnx by itself works fine, its only when paired with Caffe2 that there is a problem.

Below I have included steps to reproduce the error. The first test demonstrates that onnx alone is fine. The second test pairs it with caffe2 to cause the import error.

I would appreciate any insights or ideas to try to resolve th

[2018-05-24 18:32] arogozhnikov commented on #1025
Agree with @wschin, and most probably, OC2_DUMMY_1 is just an expected resulting shape.

[2018-05-24 20:08] #995 closed

[2018-05-24 22:50] snnn commented on #1026
@dougalsutherland Any ideas?

[2018-05-24 22:53] snnn commented on #963
I think #1026 may be related to this.

[2018-05-25 01:47] lutzroeder opened #1032 "Gemm documentation for v1 and v6 has comma after \n"
@houseroad Description for `Gemm` ` v1` and `v6` still shows a comma after `\n`.

[code]

[2018-05-25 03:43] houseroad commented on #83
#907 is merged. Now numpy broadcasting is ONNX's standard. Let's close the issue. :-)

[2018-05-25 03:43] #83 closed

[2018-05-25 03:44] houseroad commented on #1032
Merged. :-)

[2018-05-25 03:44] #1032 closed

[2018-05-25 10:38] Nagamani732 commented on #1025
Well understood. Thanks @wschin and @arogozhnikov

[2018-05-25 10:38] #1025 closed

[2018-05-25 16:20] liqunfu opened #1036 "OnnxBackendRealModelTest failed"
pytest failed on 8 OnnxBackendRealModelTests:
  "onnx/test/test_backend_test.py::OnnxBackendRealModelTest::test_bvlc_alexnet_cpu": true,
  "onnx/test/test_backend_test.py::OnnxBackendRealModelTest::test_densenet121_cpu": true,
  "onnx/test/test_backend_test.py::OnnxBackendRealModelTest::test_inception_v1_cpu": true,
  "onnx/test/test_backend_test.py::OnnxBackendRealModelTest::test_inception_v2_cpu

[2018-05-25 17:59] snnn commented on #1036
Hi @liqunfu

Were you running this test against onnx 1.2 release? With which backend?

[2018-05-25 18:16] snnn commented on #1021
See the discussion at https://github.com/onnx/models/issues/1

@bddppq

[2018-05-25 20:08] linkerzhang commented on #851
yes, this is an issue due to the cherry pick in the 1.1.2 release.

Please try to onnx 1.2.1 now

[2018-05-25 21:44] snnn opened #1039 "Please update all the test data to opset 7"
e.g. the models converted from pytorch.

[2018-05-26 23:42] stihl1210 commented on #806
I have the same problem. I have MacOS caffe2 version. So ONNX cannot be used in non-gpu enviroment (assumption from the warnings).

WARNING:root:This caffe2 python run does not have GPU support. Will run in CPU only mode.
WARNING:root:Debug message: No module named caffe2_pybind11_state_gpu
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/rafalpilarczyk/anaco

[2018-05-27 20:15] anirudhacharya opened #1042 "BatchNorm in OP_SET version 7 has no mode attribute"
The [BatchNormalization](https://github.com/onnx/onnx/blob/master/docs/Operators.md#batchnormalization) operator does not have ``mode`` attribute, so how do we figure out the difference between 'training' and 'testing' mode.

The [OP_SET version 6](https://github.com/onnx/onnx/blob/master/docs/Changelog.md#batchnormalization-6) of the operator had a ``is_test`` attribute.

@bddppq @spidyDev

[2018-05-27 20:23] anirudhacharya opened #1043 "LpNormalization operator is missing epsilon as an attribute"
[LpNormalization](https://github.com/onnx/onnx/blob/master/docs/Operators.md#lpnormalization) operator, when ``p=2``, is defined as
[code]

the eps is added to prevent dividing by zero in edge cases. But the ONNX specification does not have this attribute.

[2018-05-28 04:16] prasanthpul commented on #1042
This seems to have been done in PR #1014. @linkerzhang please take a look

[2018-05-28 05:13] skottmckay commented on #1019
FWIW The LSTM python transposes the R weights before calling np.dot with Ht-1:

https://github.com/onnx/onnx/blob/master/onnx/backend/test/case/node/lstm.py#L71
            gates = np.dot(x, np.transpose(self.W)) + np.dot(H_t, np.transpose(self.R)) + np.add(
                *np.split(self.B, 2))

[2018-05-28 13:21] prasanthpul commented on #5
@nihui is ONNX officially supported by NCNN now? if so, we can list it on Supported Tools page of onnx.ai

[2018-05-28 16:39] linkerzhang commented on #1042
Yes, "is_test" is not needed as we're following same "optional" input/output semantics across whole op spec. PR #1014 and PR #1006 are both for this unifying purpose. The "optional" semantics is documented as https://github.com/onnx/onnx/blob/master/docs/IR.md#optional-inputs-and-outputs.

[2018-05-29 05:25] codemzs opened #1045 "ONNX-ML.Proto3 does not compile for C#"
Compiler complains about [default = ….]; being used at 11 different places in the [onnx-ml.proto3](https://github.com/onnx/onnx/blob/master/onnx/onnx-ml.proto3) file. Error message"onnx-ml.proto3: Explicit default values are not allowed in proto3."

Command used: E:\protobuf-csharp-port\lib>protoc.exe -I="E:\protobuf-csharp-port\lib" --csharp_out="E:\protobuf-csharp-port\lib" "E:\protobuf-csharp-p

[2018-05-29 09:27] ZQMgh commented on #1020
I met the same problem

[2018-05-29 13:35] dougalsutherland commented on #1026
(Sorry for the slow reply.) This is probably a protobuf version issue; make sure you're compiling caffe2 with the same protobuf 3.5 as used by the build of `onnx`. Ideally, install `onnx` first (pulling in `protobuf`) and point caffe2 at the protobuf installation in the conda environment.

[2018-05-29 14:33] NiklasGustafsson commented on #1045
Our agreement last year was to use the common subset of v2 and v3 of protobuf. Any feature that cannot be precisely represented in both v2 and v3 should not be used.

[2018-05-29 15:40] tjingrant commented on #1045
Quoting @dzhulgakov

Might help to get his opinion too.

[2018-05-29 17:33] codemzs commented on #1045
@tjingrant @dzhulgakov  proto2 is not supported by protoc for C# code generation, at least for compiler version 3.5.1. Correct me if there is a newer compiler that supports proto2 for C# as well.

[2018-05-29 18:37] anderspapitto commented on #806
@stihl1210 onnx does not require a gpu at all (those gpu-related warnings you see are coming from Caffe2, not from Onnx. also they are only warnings, you can still run models on the CPU).

Which version of caffe2 are you running, and how did you install it?

[2018-05-30 02:42] nihui commented on #5
@prasanthpul  yes. you may find ncnn icon here https://github.com/Tencent/ncnn/tree/master/images

[2018-05-30 12:43] sbodenstein commented on #1045
The same happens for `onnx.proto3` on master with all `protoc` compilers (I've tested compilers between versions 3.1 and 3.5.1). For example:
[code]

[2018-05-31 03:54] snnn opened #1055 "PRelu version issue"
In #907, we decided to align to Numpy broadcasting.  This is a break change to many operators, like PRelu, but we didn't upgrade these OP's version.

For operator versioning, onnx's policy is:
“If the semantics of an operator is changed in a backwards-incompatible way, you MUST create a new operator”

But #907 forgot to upgrade PRelu OP's version.

[2018-05-31 15:58] lburzawa opened #1056 "Cannot import caffe2.python.onnx.backend with new onnx release"
I got a segmentation fault when trying to import caffe2.python.onnx.backend after installing onnx 1.2.1 from pip3. I just rebuilt caffe2 from the master branch of pytorch (version 0.8.2) but the issue remains. Any ideas? My protobuf version is 3.5.1.

[2018-05-31 21:20] snnn opened #1059 "CI build hangs on Mac"
Pytest hangs

@houseroad

[2018-05-31 21:38] lburzawa commented on #1056
Can be fixed by building onnx from source.

[2018-06-01 06:54] #1059 closed

[2018-06-01 09:42] stihl1210 commented on #806
@anderspapitto Ok I understand. I installed the latest version of caffe2 from prebuilt binaries. Probably this issue is related with Matlab ONNX exporter, I see that there were few changes in ONNX so it is not compatible with Matlab exporter. When I tried to port Caffe2 model to something different via ONNX like MXNet I had no problems.

[2018-06-01 21:01] snnn opened #1065 "DON'T use "OPTIONAL" as var name"
It's a macro in <minwindef.h>

It means, if a user includes <windows.h> first, he can't use onnx headers in the same file.

onnx\common\constants.h:
[code]

[2018-06-01 22:45] qigtang opened #1067 "Can we have an option to export static graph?"
When using pytorch 0.4, export resnet to onnx, the FC layer will be something like

 %169 : Float(1, 512, 1, 1) = onnx::AveragePool[kernel_shape=[7, 7], pads=[0, 0, 0, 0], strides=[1, 1]](%168), scope: ResNet/AvgPool2d[avgpool]
  %170 : Float(1, 512) = onnx::Flatten[axis=1](%169), scope: ResNet
  %171 : Float(1, 6) = onnx::Gemm[alpha=1, beta=1, broadcast=1, transB=1](%170, %101, %102), scope: ResN